

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-xl"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="layout">Detail Layout "{{layout.displayName}}"</span>
            <span v-else>Create Layout</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <label>Image</label>
                    <UploadImage :src="formData.imageUrl" v-on:getImage="getImageFromChild"/>
                  </div>
                  <div  class="col-6">
                    <label>Image Floor Plan</label>
                    <UploadImage :src="formData.imageFloorPlanUrl" v-on:getImage="getImageFloorPlanFromChild"/>
                  </div>
                </div>
              </div>  


              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <label for="displayName">File Zip Panorama </label>
                    <File :src="formData.files.panorama_zip" v-on:getFile="getFileZipFromChild"/>
                  </div>  
                  <div class="col-6">
                    <label for="displayName">Upload File Cart (JSON) </label>
                    <File v-on:getFile="getFileCartJsonFromChild"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <label for="displayName">Old Version </label>
                    <File :src="formData.assetBundle" v-on:getFile="getFileFromChild"/>
                  </div>
                  <div class="col-6">
                  <label for="displayName">Version 2018 </label>
                  <File :src="formData.versionAssetBundle.v2018.assetBundle" :extra="'v2018'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="col-6">
                  <label for="displayName">Version 2019 </label>
                  <File :src="formData.versionAssetBundle.v2019.assetBundle" :extra="'v2019'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="col-6">
                  <label for="displayName">Version 2020 </label>
                  <File :src="formData.versionAssetBundle.v2020.assetBundle" :extra="'v2020'" v-on:getFile="getFileFromChild"/>
                </div>
                 </div> 
              </div>

              


              <div class="form-group">
                <label for="displayName">Display Name</label>
                <input
                  v-model="formData.displayName"
                  class="form-control mb-2"
                  id="displayName"
                  type="text"
                  placeholder="Display Name"
                />
              </div>

              <div class="form-group">
                <label for="name">Key Name (*)</label>
                <input
                  type="text"
                  :disabled="layout"
                  v-model="formData.name"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="name"

                  v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                     <label for="project">Project</label>
                    <select id="project" name="project" class="form-control" v-model="formData.project" v-bind:class="{ errors: errors.has('project')  }" v-validate="'required'">
                        <option></option>
                        <option v-for="(item, index ) in projects" :value="item.code" :key="index">
                          {{ item.name}}
                        </option>
                    </select> 
                    <span class="errors" v-if="errors.has('project')">{{errors.first('project')}}</span>
                  </div>
                  <div class="col-6">
                    <label for="project">Style</label>
                    <select id="project" name="style" class="form-control" v-model="formData.style">
                        <option></option>
                        <option v-for="(item, index ) in styles" :value="item.code" :key="index">
                          {{ item.name}}
                        </option>
                    </select>
                  </div>

                </div>  
                
              </div>

              <div class="form-group">
                <label>Price</label>
                <div class="row">
                  <div class="col-2">
                     <label for="estimated">Estimated</label>
                     <input v-model="formData.metadata.price.estimated" class="form-control mb-2" id="estimated" type="number" placeholder="Estimated" />
                  </div>
                  <div class="col-2">
                    <label for="max">Max price</label>
                    <input v-model="formData.metadata.price.max" class="form-control mb-2" id="max" type="number" placeholder="Max" />
                  </div>
                   <div class="col-2">
                    <label for="max">Min price</label>
                    <input v-model="formData.metadata.price.min" class="form-control mb-2" id="min" type="number" placeholder="Min" />
                  </div>
                </div>  
                
              </div>
              
              <div class="form-group">
                
                <div class="row">
                  <div class="col-2">
                    <label for="bedroom_num">Number of Bedroom</label>
                    <input v-model="formData.metadata.bedroom_num" class="form-control mb-2" id="bedroom_num" type="number" placeholder="Bedroom" />
                  </div>

                  <div class="col-2">
                    <label for="bedroom_num">Area</label>
                    <input v-model="formData.area" class="form-control mb-2" id="area" type="number" placeholder="Area" />
                  </div>

                  <div class="col-2">
                    <label for="bedroom_num">Sort</label>
                    <input type="number" v-model="formData.sort" class="form-control" id="sort" name="sort" placeholder="sort" />
                  </div>
                </div>  
                
              </div>

              <div class="form-group">
                <label>Address</label>
                <div class="row">
                  <div class="col-2">
                     <label for="block">Block</label>
                     <input v-model="formData.metadata.address.block" class="form-control mb-2" id="block" type="text" placeholder="Block" />
                  </div>
                  <div class="col-4">
                    <label for="apartment_code">Appartment Code</label>
                    <input v-model="formData.metadata.address.apartment_code" class="form-control mb-2" id="apartment_code" type="text" placeholder="Apartment" />
                  </div>
                   
                </div>  
                
              </div>
              
              

              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control" v-model="formData.status" v-bind:class="{ errors: errors.has('status')  }" v-validate="'required'">
                        <option></option>
                        <option v-for="(item, index) in status" :value="index" :key="index">
                          {{ item}}
                        </option>
                    </select>
                    <span class="errors" v-if="errors.has('status')">{{errors.first('status')}}</span>
                  </div>
                </div>
              </div>
              
              <div v-if="layout" class="form-group mb-1 clearfix">
                <label  class="float-left mr-5">Status: </label>
                <div class="float-left">
                  <Status :value="formData.status"/>
                </div>
              </div>

              <div class="form-group">
                <b-button v-b-toggle.collapse-1 variant="primary">Rooms</b-button>
                
                <b-collapse id="collapse-1" class="mt-2">
                  <b-button v-b-toggle.collapse-1-inner size="sm" @click="addRoom" ><i class="fa fa-plus"></i></b-button>

                  <b-card v-for="(room, index) in formData.metadata.rooms" :key="index">
                    <div class="row">
                      <div class="col-4">
                        <select v-bind:id="`room-`+ index" v-bind:name="`room-`+ index" class="form-control" :disabled="!!room._id" v-model="room.type"  @change="val => selectRoom(room, val)">
                          
                          <option v-for="(cat, index2) in roomCategories" :value="cat.code" :key="index2">
                            {{ cat.name}}
                          </option>
                        </select>
                      </div>

                      <div class="col-4">
                        
                        <input :disabled="!!room._id" v-model="room.area" class="form-control mb-2"  type="number" step="0.01" placeholder="Area" />
                      </div>

                      <div class="col-2">
                        <b-button v-b-toggle.collapse-1-inner size="sm" @click="deleteRoom(room)"><i class="fa fa-trash"></i></b-button>
                      </div>
                    </div>
                    
                  </b-card>
                </b-collapse> 

                
              </div>

              <div  class="form-group">
                  <label for="status">Gallery</label>
                  <upload-gallery ref="uploadGallery"
                    :gallery="layout ? layout.gallery : []"
                    :layout="layout || null"
                  />
              </div>

               <div class="form-group">
                <label for="landing">Description</label>
                <textarea 
                  type="text"
                  v-model="formData.description"
                  class="form-control"
                  id="desc"
                  placeholder="Description ..."
                  name="desc"
                  rows=4
                ></textarea>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input
                          type="checkbox"
                          class="custom-control-input"
                          name="checkHasDataJson"
                          id="checkHasDataJson"
                          v-model="checkHasDataJson"
                        >
                  <label for="checkHasDataJson" class="custom-control-label">Has Design 3D (Layout Json)</label>
                </div>
              </div>

              <div v-if="checkHasDataJson" class="form-group">
                <label @click="showJson = !showJson" class="cursor-pointer text-bold" for="dataJson">Json (*) (Click to Show / Hide)</label>
                <textarea v-show="showJson || errors.has('dataJson')"
                  type="text"
                  v-model="dataJsonString"
                  class="form-control"
                  id="dataJson"
                  placeholder="Input JSON here ..."
                  name="dataJson"
                  rows=8
                  v-bind:class="{ errors: errors.has('dataJson')  }" v-validate="'json'"
                ></textarea>
                <span class="errors" v-if="errors.has('dataJson')">{{errors.first('dataJson')}}</span>
              </div>


              

              
              <div v-if="layout" class="form-group clearfix">
                <label class=" mr-5">Items </label>
                <div class="clearfix">
                  <table class=" table table-striped table-bordered">
                    <tbody>
                      <tr v-for="(item, index) in listItems" :key="index">
                        <td class="width-percent-20"><img v-if="item.object" class="max-height-75 width-percent-100" v-bind:src="item.object.thumbUrl"></td>
                        <td >{{index}}</td>
                        <td>{{item.count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer justify-content-between">
          
          <slot name="footer">
            <div  class="left"> 
              <button v-if="layout && ['waiting', 'private'].indexOf(layout.status) !== -1"
                type="button"
                class="btn-info ml-0"
                @click.self.prevent="approve" 
                :disabled="$store.state.isSaving"
                aria-label="approve layout"
              >
                Approve
              </button>

              <button v-if="layout  && layout.status == 'waiting'"
                type="button"
                class="btn-danger"
                 @click.self.prevent="reject" 
                 :disabled="$store.state.isSaving"
                aria-label="reject modal"
              >
                Reject
              </button>
            </div>

            <div class="right"> 
              <button 
                type="button"
                class="btn-black"
                v-if="layout"
                @click.self.prevent="syncToConsultantProject" 
                :disabled="$store.state.isSaving"
                aria-label="Sync modal"
              >
                <i class="fa fa-sync"></i> 
              </button>

               <button 
                type="button"
                class="btn-black"
                @click.self.prevent="validateAndSave" 
                :disabled="$store.state.isSaving"
                aria-label="Save modal"
              >
                Save
              </button>

              

              <button
                type="button"
                class="btn-white"
                @click="close"
                aria-label="Close modal"
              >
                Close
              </button>
            </div>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import {Validator} from 'vee-validate';

  Validator.extend('json', {
        getMessage: field => 'The ' + field + ' must be json format!',
        validate(value, obj){
           
            let val = $('#dataJson').val()
            
            if(val){
              try {
                  JSON.parse(val);
              } catch (e) {
                  return false;
              }
            }

            return true
        }
    });

  import { 
    ApiLayouts, 
    ApiUploadLayoutThumb, 
    ApiUploadLayoutImageFloorPlan, 
    ApiUploadLayoutPanoramaZip, 
    ApiUploadLayoutAssetBundle,
    ApiUploadLayoutCart,
    ApiGetListLayoutItems,
    ApiApproveLayout,
    ApiRejectLayout,
    ApiGetLayoutDataJson ,
    LAYOUT_STATUS_LIST,
    ApiConsultantProject,
    TuVanAccessKey

  } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import File from "../../../components/Partials/File";
  import Status from "../../../components/Partials/Status";
  import UploadGallery from "./uploadGallery";
  import swal from 'sweetalert';

  //import MaskedInput from 'vue-masked-input';
  Vue.use(VeeValidate);
 
  export default {
    name: 'Modal',
    props : [ 'layout', 'projects', 'styles', 'roomCategories'],
   components: {
      UploadImage,
      Status,
      File,
      UploadGallery
    //  MaskedInput
    },
    data() {
      
      return {
        status : LAYOUT_STATUS_LIST,
        formData : {
          metadata : {
    
            bedroom_num: null,
            creator : {},
            price : {
              estimated : 0,
              max: 0,
              min : 0
            },
            address : {
              block : null,
              apartment_code : null
            },
            rooms : [],
          },
          files : {},
          versionAssetBundle : {
            v2018 :{
              assetBundle: null
            },
            v2019 :{
              assetBundle: null
            },
            v2020 :{
              assetBundle: null
            }
          },
          dataJson: {},
          name : "homestyler_"
        },
        dataJsonString : null,
        listItems: [],
        image:null,
        image_floor_plan: null,
        file: {
          "v2018" :null,
          "v2019" :null,
          "v2020" :null
        },
        fileSingle: null,
        file_zip: null,
        file_cart: null,
        imageUrl: null,
        imageFloorPlanUrl: null,
        //uploadFileName: null,
  
        updatedLayout: null,

        showJson : !this.layout,
        checkHasDataJson : true 

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {
        if (this.layout){
          this.init();
        }
      },

      init(){
        let layout = this.layout;
        this.formData = Object.assign(this.formData, layout);
        if (!layout.dataJson || !layout.dataJson.length){
          this.checkHasDataJson = false;
        }
        let urlGetLayoutDataJson = `${ApiGetLayoutDataJson}`.replace(':key', this.layout.name);

        apiCall('get', urlGetLayoutDataJson).then(res => {  
              
              //this.listItems = res.data.data || []; 
              this.dataJsonString = res.data.data || null;
              if(this.dataJsonString){
                this.checkHasDataJson = true;
                this.dataJsonString =  JSON.stringify(this.dataJsonString);
              }
                
             } ).catch(err => {            
              console.log('err',err);
            }) ;
        
        this.getListItems();
      },

      getListItems(){
        let urlGetListItems = `${ApiGetListLayoutItems}`.replace(':key', this.layout.name);
        apiCall('get', urlGetListItems).then(res => {  
              
              this.listItems = res.data.data || []; 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

       validateAndSave(){
        this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.layout){
              this.save();
            }
            else{
              this.saveCreate();
            }

          }
        });
        
      },
      saveCreate(){
          let url = `${ApiLayouts}`; 
          let urlUploadThumb = `${ApiUploadLayoutThumb}`; 
          let urlUploadImageFloorPlan = `${ApiUploadLayoutImageFloorPlan}`; 
          let urlUploadPanoramaZip = `${ApiUploadLayoutPanoramaZip}`; 
          let urlUploadCart = `${ApiUploadLayoutCart}`; 
          let urlUploadAssetBundle = `${ApiUploadLayoutAssetBundle}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          apiCall('post', url, this.formData).then(res => {  
              this.updatedLayout = res.data.data || null;
              
              this.$refs.uploadGallery.onImageChangeCreateNew(this.updatedLayout);
              let arrayPromise = [];

              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }

              if(this.file_zip){
                  let formData = new FormData();
                  formData.append('file', this.file_zip);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadPanoramaZip, formData));
              }

              if(this.file_cart){
                  let formData = new FormData();
                  formData.append('file', this.file_cart);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadCart, formData));
              }
                
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('name', thisformData.name);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });
              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('name', this.formData.name);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }
              
              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }
              if(this.image_floor_plan){
                  let formImage = new FormData();
                  formImage.append('image', this.image_floor_plan);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadImageFloorPlan, formImage));
              }

              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }
              

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      save(){
     
          let urlUpdate = `${ApiLayouts}/${this.layout.name}`; 
          let urlUploadThumb = `${ApiUploadLayoutThumb}`; 
          let urlUploadImageFloorPlan = `${ApiUploadLayoutImageFloorPlan}`; 
          let urlUploadPanoramaZip = `${ApiUploadLayoutPanoramaZip}`; 
          let urlUploadCart = `${ApiUploadLayoutCart}`;
          let urlUploadAssetBundle = `${ApiUploadLayoutAssetBundle}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          console.log("formData", this.formData);
          apiCall('put', urlUpdate, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedLayout = res.data.data || null;
              
              let arrayPromise = [];
              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }
                
              if(this.file_zip){
                  let formData = new FormData();
                  formData.append('file', this.file_zip);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadPanoramaZip, formData));
              }
              if(this.file_cart){
                  let formData = new FormData();
                  formData.append('file', this.file_cart);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadCart, formData));
              }
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('name', thisformData.name);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });
              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('name', this.formData.name);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }
              
              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }

              if(this.image_floor_plan){
                  let formImage = new FormData();
                  formImage.append('image', this.image_floor_plan);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadImageFloorPlan, formImage));
              }

              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      selectRoom(a) {

        let new_type = a.type;
        let _room = this.roomCategories.filter(obj => {
          return obj.code == new_type;
        })[0];
        a.name = _room.name;
        a.type = _room.code;

      },

      addRoom() {
        this.formData.metadata.rooms.push({
          name: "",
          area: "",
          type: "",
          qty: 1
        });
      },

      deleteRoom(room){
        // if(room._id){

        // }

        let index = this.formData.metadata.rooms.findIndex( r => {
            if(r._id){
              return (room._id == r._id)
            }else{
              return (room.area == r.area && room.type == r.type)
            }
        });
        this.formData.metadata.rooms.splice(index, 1);
      },

      approve(){
        let url = `${ApiApproveLayout}`.replace(':key', this.layout.name);
        apiCall('post', url).then(res => {  
              this.updatedLayout = this.layout;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      reject(){
        let url = `${ApiRejectLayout}`.replace(':key', this.layout.name);
        apiCall('post', url).then(res => {  
              this.updatedLayout = this.layout;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      close() {  
        this.$emit('closeChild');
        if(this.updatedLayout){
          this.$emit('childToParent', this.updatedLayout);
        }
      },

      getImageFromChild(arg){
        this.image = arg;
      },

      getImageFloorPlanFromChild(arg){
        this.image_floor_plan = arg;
      },

      getFileFromChild(arg, version){  
        if(version){
          this.file[version] = arg;
        }
        else{
          this.fileSingle = arg;
        }
      },


      getFileZipFromChild(arg, version){  
         this.file_zip = arg;
      },

      getFileCartJsonFromChild(arg, version){  
         this.file_cart = arg;
      },

      syncToConsultantProject(){
        let url = `${ApiConsultantProject}` + "/cms/v1/sync-data";
        let paramSync = {
          type : "layout",
          key  : this.layout.name
        }
        apiCall('post', url, paramSync, {headers : {AccessKey: `${TuVanAccessKey}`}}).then(res => {     
            swal("Send sync request succeeded!", {
                icon: "success"
              });
          }).catch(err => {            
              console.log('err',err);
        }) ;
      }

    },
  };
</script>

<style>
 
</style>