a{
  &:hover,&:active,&:visited{
    color: #5d9cec;
  }
}
.btn:focus,.btn:active,.btn:visited,.btn:hover,.btn:focus-within{
  outline:none;
  //border:none;
  box-shadow:none;
}
.btn {
    // width: 100px;
    &.btn-fprimary {
      box-shadow: 0 20px 40px 0 rgba(1, 0, 0, 0.32);
      background-color: #3d3d3d;
      color: #fff;
      border-radius: 0;
  
      &:hover {
        opacity: .8;
      }
    }
  
    &.btn-fdefault {
      background-color: #ffffff;
      color: #3d3d3d;
      border-radius: 0;
      border: 1px solid #3d3d3d;
  
      &:hover {
        background-color: #3d3d3d;
        color: #fff;
      }
    }
}

.margin-lr-7-5-plus {
  margin-left: -7.5px;
  margin-right: -7.5px;
  .margin-lr-7-5{
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}

.visibility-hidden{
  visibility:hidden
}

.title-line {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 10px;
  &.title-line-none{
    &:before {
      background:transparent;
    }
    h3 {
      margin-left: 0px;
    }
  } 
  &:before {
    content: '';
    width: 3px;
    background: #d13341;
    // #5d9cec
    height: 15px;
    position: absolute;
    bottom: 0;
    top: 13px;
    vertical-align: middle;
    display: inline-block;
  }

  h3 {
    margin-left: 10px;
    letter-spacing: 0.6px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
  }
  &.title-line-xs{
    margin-bottom:0;
    &:before{
      width: 3px;
      height: 12px;
      top: 15px;
    }
    strong{
      padding-left:8px;
      font-size:16px;
      font-weight:normal;
    }
  }
  .btn-dropdown{
    position: absolute;
    top:0;
    right: 0;
    font-size: 14px;
    padding-top:5px;
    }
}

.title-cs{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  h3{
    font-size: 16px;
    display: inline-block;
    font-weight:400;
    margin-bottom:0;
    text-transform: uppercase;
  }
  em{
    font-size:13px;
  }
  .btn-dropdown{
    position: absolute;
    top:0;
    right: 0;
    font-size: 14px;
    padding-top:5px;
    }
}

/** badge **/
/**
<strong class="badge-cms badge badge-yellow mr-1">To do</strong>
<strong class="badge-cms badge badge-blue mr-1">in-progress</strong>
<strong class="badge-cms badge badge-green">Resolved</strong>
<strong class="badge-cms badge badge-red">Resolved</strong>
<strong class="badge-cms badge badge-dark">Order</strong>
**/
.form-group .badge-cms.badge{
  height: 35px;
  vertical-align: middle;
  padding: 10px;
  display:block;
  text-align: center;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  width:25%;
}
.badge-cms{
  &.badge {
    &.badge-xs{
      padding: 3px;
      font-size: 12px;
      font-weight: 400;
    }
    border-radius: 0;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    &.badge-yellow {
      color: #D8A817 !important;
      background-color: rgba(242, 189, 55, 0.2);
    }
  
    &.badge-blue {
      color: #0065AB !important;
      background-color: rgba(49, 138, 198, 0.2);
    }
  
    &.badge-green {
      color: #00AB95 !important;
      background-color: rgba(0, 171, 149, 0.2);
    }
  
    &.badge-red {
      color: #C70E18 !important;
      background-color: rgba(230, 45, 55, 0.2);
    }
    .badge-dark{
      color:#fff!important;
      background-color:#768795;
    }
    &.badge-dark-light{
      color:#97A7B2!important;
      background-color:#EDEDED;
    }
    &.badge-border-dark{
      background-color:#fff;
      color: #656565 !important;
      border:1px solid #97A7B2
    }
  }
  &.txt-badge{
    text-transform: capitalize;
    font-weight: 400;
    &.txt-badge_yellow {
      color: #D8A817 !important;
    }
  
    &.txt-badge_blue {
      // color: #0065AB !important;
      color:#23b7e5!important;
    }
  
    &.txt-badge_green {
      color: #00AB95 !important;
    }
  
    &.txt-badge_red {
      color: #C70E18 !important;
    }
    &.txt-badge_dark{
      color:#768795!important;
    }
    &.txt-badge_dark-light{
      color:#97A7B2!important;
    }
  }
}
.m-auto{
  margin: auto;
}