.cms-table {
    table {
      border: 1px solid #eee;
    }
  
    .table > thead > tr > th {
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      padding: 10px 15px;
      .VueTables__sort-icon {
        float: right;
        font-size: 13px;
        line-height: inherit;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
    
        &.fa-sort:before {
          content: "\F0DC";
        }
      }
    }
    /** Custom table  **/
    &.VueTables {
      // .VueTables__search {
      //   display: none;
      // }
      // .VueTables__limit{
      //   display:none;
      // }
      .VueTables__table{
        &.table-striped{
          tbody tr {
            background-color: #fff;
            &.VueTables__child-row{
              background:#fafbfc;
            }
          }
        }
        &.table-hover tbody tr:hover:nth-of-type(odd) {
          background-color: #fafbfc;
        }
      }
      .VueTables__child-row{
        .card.cms-card {
          .title-line h3{
            font-size:16px;
          }
          .card-ico{
            width:50%;
            float: left
          }
        }
      }
      .VueTables__child-row-toggler--closed::before,
      .VueTables__child-row-toggler--open::before{
        font-family: simple-line-icons;
        font-size:10px;
        content:"\E606";
      }
      .VueTables__child-row-toggler{
        transition: all 0.3s ease;
        &.VueTables__child-row-toggler--open{
          transform: rotateZ(90deg);
        }
      }
    }
}

.cms-table .VuePagination {
  padding-bottom: 15px;

  .page-item {
    &.active .page-link {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.9);
      border-color: rgba(0, 0, 0, 0.9);
    }

    a {
      color: rgba(0, 0, 0, 0.9);
    }

    &:first-child .page-link, &:last-child .page-link {
      border-radius: 0;
    }
  }
}
/*
 <table class="table table-fdefault">
    <colgroup>
        <col width="20%">
    </colgroup>
    <thead>
        <th>
            <span></span>
        </th>
    </thead>
    <tbody>
    <tr class="table-detail-title">
        <td>
            <span></span>
        </td>
    </tr>
    </tbody>
</table>
*/
.table{
  &.table-fdefault{
    thead {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
     &.thead-bg{
      th{
        background: #000;
        color: #fff;
        text-transform: capitalize;
      }
     }
    }
  
    tbody {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  
    thead th {
      vertical-align: middle;
      border-bottom: 1px solid #eee;
    }
  }
}