<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>Category Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        Basic Info
      </div>
      <div class="card p-5">
        <div class="form-group">
          <UploadImage :src="form.imageUrl" v-on:getImage="childFromParent"/>
        </div>  

        <div class="form-group">
          <label for="name">NAME *</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div class="form-group">
          <label for="status">STATUS</label>
          <select id="status" name="status" class="form-control" v-model="form.status">
              <option></option>
              <option v-for="(item, index) in list_status" :value="item.value" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>


        <div class="form-group">
          <label for="name">ASSET CLASSES</label>
          <div class="row">
            <div class="col-lg-3 custom-control custom-checkbox" v-for="(att_class,i) in form.class" :key="i">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  :name="`class`+att_class.code"
                  :id="`class`+att_class.code"
                  v-model="att_class.value"
                  :true-value="1"
                  :false-value="0"
                >
                <label :for="`class`+att_class.code" class="custom-control-label">{{att_class.name}}</label>
            </div>

          </div>
        </div>


        <div class="form-group">
          <label for="name" class="mr-4">ITEM ID:- </label> 
           <span>{{form._id}}</span>
        </div>


      </div>
    </div>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiCategories, ApiUploadCategoryThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';

export const ITEM_CLASSES = [
  { name : "Asset", code: "asset", value: 0 },
  { name : "Material", code: "material", value: 0 },
  { name : "StyleFit", code: "stylefit", value: 0 }
];

export const LIST_STATUS = [
  { name : "Pending", value: 'pending' },
  { name : "Active", value: 'active' },
  { name : "Archive", value: 'archive' },
  { name : "Draft", value: 'draft' }
]

Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage
  },
  mounted() {

  },
  data() {
    return {
      form : {
        class : ITEM_CLASSES
      },
      list_status : LIST_STATUS,
      isEdit : false,
      image: null,

    };
  },


  created() {
    this.$emit('showLoading', false);
    let category_id = get(this.$route, "params.id", 0);
    if(category_id && category_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(category_id);
    }
    this.getClasses();
    
  },
  methods: {
    async getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiCategories}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
          console.log(this.form.name);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    async getClasses(){},
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'Category'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiCategories}/${this.form._id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadCategoryThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiCategories}`; 
          apiCall('post', url, this.form).then(res => {  
              let category = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadCategoryThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', category._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(category);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(category);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(category){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'CategoryDetail', params: { id: category._id }});
        this.getData(category._id);
    }


  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

    
  }
 
</style>