<template>
  <ContentWrapper class="rooms-wp">
    <div class="content-heading justify-content-between">
      <h2>Rooms Management</h2>
      <button class="btn btn-fprimary btn-add" @click="openModalState = true">
          <i class="fa fa-plus"></i> 
        </button>
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-server-table 
         ref="table"
        :columns="columns"
        :options="options" 
        class="cms-table">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
        </template>

        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>More Info</h3>
                      <p class="mt-1">
                        <span>Old Asset Bundle:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.assetBundle" download v-bind:href="props.row.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.assetBundle">{{props.row.revision}}</span>
                      </p>
                      <p>
                        <span>Asset Bundle v2018:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2018.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2018.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2018.assetBundleUrl">{{props.row.versionAssetBundle.v2018.revision}}</span>
                      </p>

                      <p>
                        <span>Asset Bundle v2019:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2019.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2019.assetBundleUrl">Click to download</a>
                          </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2019.assetBundleUrl">{{props.row.versionAssetBundle.v2019.revision}}</span>
                      </p>

                      <p>
                        <span>Asset Bundle v2020:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2020.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2020.assetBundleUrl">Click to download</a>
                        </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span v-if="props.row.versionAssetBundle.v2020.assetBundleUrl">{{props.row.versionAssetBundle.v2020.revision}}</span>
                      </p>
              </div>
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>Data Json</h3>
                      <p>
                        <vue-json-pretty
                        :data="props.row.dataJson"
                        :deep="1"
                        >
                        </vue-json-pretty>
                    </p>
              </div>
            </div> 
          </div>
        </template>

        <template slot="displayName" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms badge">
            {{ props.row.displayName }}
          </span>
        </template>

        <template slot="keyname" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms badge">
            {{ props.row.keyname }}
          </span>
        </template>

        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <Status :value="props.row.status"/>
          </span>
        </template>

        <template slot="owner" slot-scope="props" class="col-status text-center" >
          <span v-if="props.row.owner" class="badge-cms">
            {{ props.row.owner.email }}
          </span>
        </template>

        <template slot="AssetBundle" slot-scope="props" class="col-status text-center" >
          <span v-if="props.row.assetBundleUrl" class="badge-cms">
            <a download v-bind:href="props.row.assetBundleUrl">Download</a>
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Room',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Room',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
    
          </div>
        </template>

      </v-server-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :room="editingRoom"
      :categories="categories"
    />

  </ContentWrapper>
</template>

<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiRooms, ApiRoomCategories } from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';


import VTooltip from 'v-tooltip';
import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

import { mapGetters, mapActions, mapState } from "vuex";

import VueJsonPretty from 'vue-json-pretty'


Vue.use(VTooltip);
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    VueJsonPretty,
    Modal,
    Status
  },
  mounted() {

  },
  data() {
    return {
      categories : [],
      currentPage: 0,
      limit: 20000,
      columns: [
        'imageUrl',
        'displayName' ,
        'keyname',
        'category',
        'owner', 
       // 'AssetBundle', 
        'status',
        'action'
      ],
      
      options: {
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiRooms}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "imageUrl" : "Thumb",
           "keyname" : "Key name",
           "displayName" : "Display Name",
          
        },
        sortable : ['displayName', 'keyname'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          imageUrl: "width-100",
          action: "width-100"
        },
        
      },

      isDeleting: false,
      openModalState: false,
      editingRoom: null
    };
  },
  created() {
    this.initCategories();
    this.$emit('showLoading', false);
    //this.getData();
  },
  methods: {
    initCategories() {
      let url = `${ApiRoomCategories}`;
      apiCall("get", url)
        .then(res => {
          this.categories = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },
    // getData(){
    //     this.$emit('showLoading', true)
    //     let url = `${ApiRooms}?page=${this.currentPage + 1}&per_page=${this.limit}`;
    //     apiCall("get", url).then(res => {
    //       this.$emit("showLoading", false);
    //       this.rooms =  get(res.data, "data.list", []);
    //       this.rooms = this.rooms.map((item, index) => {
    //             item["id"] = index;
    //             return item;
    //         });
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },
  

    remove(row) {
    
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Room " + row.displayName + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiRooms + '/' + row.keyname)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
       
      });
    },

    reload() {
      this.$refs.table.refresh();
    },

    edit(row) {
      this.editingRoom = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingRoom = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingRoom = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    }
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.rooms-wp{
      background-color:#fff;
    }
  }
  .title-cs{
    line-height:16px;
  }
  .vjs-tree {
    font-size:13px;
  }
 
</style>