<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Builder Collections Management</h2>
      <button class="btn btn-fprimary" @click="handleAdd()">
          <i class="fa fa-plus"></i> New Collection
        </button>
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-server-table  ref="table"
       :columns="['imageUrl', 'name', 'builder', 'status', 'action']"
      :options="options" class="cms-table cms-table-ticket">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>
        <template slot="status" slot-scope="props" class="col-status text-center max-width-100" >
          <div class="badge-cms max-width-100">
             <span :class="`status-text status-`+props.row.status">{{props.row.status}}</span>
          </div>
        </template>
        <template slot="class" slot-scope="props" class="col-status text-center" >
          <div class="badge-cms d-flex">
            <div v-for="(cl, i) in props.row.class" :key="i" ><span v-if="cl.value" class="status-class mr-2">{{ cl.name }}</span></div>
          </div>
        </template>
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="builder" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.builder ? props.row.builder.name : '' }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit BuilderCollection',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete BuilderCollection',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
              <i class="far fa-trash-alt"></i>
            </button> -->
          </div>
        </template>
      </v-server-table>
    </div>
    

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiBuilderCollections} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

Vue.use(VTooltip)
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Status
  },
  mounted() {

  },
  data() {
    return {
      builderCollections: [],
      options: {
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiBuilderCollections}?${queryString}`;
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) {    
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "imageUrl" : "Logo",
           "builderCollection" : "BuilderCollection",
           "name" : "Name"
        },
        sortable : ['name'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          imageUrl: "width-150",
          action: "width-150"
        },
      },
      isDeleting: false,
      openModalState: false,
      editingBuilderCollection: null
    };
  },
  created() {
    //this.getData();
  },
  methods: {
    onReload(){
      this.$refs.table.refresh();
    },
    getData(){
        this.$emit('showLoading', true)
        let url = `${ApiBuilderCollections}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.builderCollections =  get(res.data, "data.list", []);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    showModal() {
        this.openModalState = true;
    },

    handleAdd(){
      this.$router.push({ name: 'BuilderCollectionDetail', params: { id: 0 }});
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "BuilderCollection " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiBuilderCollections + '/' + row._id)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              this.$emit('showLoading', false);
             
              this.onReload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        
      });
    },

    reload() {
       this.getData();
    },

    edit(row) {
         this.$router.push({ name: 'BuilderCollectionDetail', params: { id: row._id }});
    }
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
 
</style>