<template>
  <ContentWrapper class="style-wp" v-bind:class="{'content-disabled' : isUploading}">
    <div class="content-heading justify-content-between">
      <h2>Styles Management</h2>
      <div class="button">
        
        <button class="btn btn-fprimary btn-add" @click="showModal()">
          <i class="fa fa-plus"></i> 
        </button>
      </div>
    </div>
    <div class="content-body pl-0 pr-0">

       <v-server-table ref="table"
        :columns="['imageUrl', 'name','code' , 'action']"
        :options="options" class="cms-table">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>
        
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
             <Status :value="props.row.status"/>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Style',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Style',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            
          </div>
        </template>
      </v-server-table>
      
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :sstyle="editingStyle"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiStyles } from "../../config";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from "sweetalert";
import Status from "../../components/Partials/Status";
import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";

Vue.use(VTooltip);
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Modal,
    Status
  },
  mounted() {},
  data() {
    return {
      
      groups: [],
      isDeleting: false,
      openModalState: false,
      editingStyle: null,
      isUploading: false,
      
      options: {
        
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiStyles}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          group : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           
          
        },
        sortable : ['name', 'group'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          imageUrl: "width-100",
          action: "width-100"
        },
        
      },
    };
  },
  created() {
    this.$emit("showLoading", false);
    //this.getData();
  },
  methods: {
  
    // getData() {
      
    //   this.$emit("showLoading", true);
    //   //let url = `${ApiStyles}?page=${this.currentPage + 1}&per_page=${this.limit}`;
    //   let url = `${ApiStyles}`;
    //   url = this.buildUrl(url);
    //   apiCall("get", url)
    //     .then(res => {
    //       this.$emit("showLoading", false);
    //       this.styles = get(res.data, "data.list", []);
          
          
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "Style " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiStyles + "/" + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.$refs.table.refresh();
    },

    edit(row) {
      this.editingStyle = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingStyle = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingStyle = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    },
   

    buildUrl(url){
      let params = this.params;
      var queryString = Object.keys(params).map(function(key) {
          if(params[key]){
            return key + '=' + params[key]
          }
          
      }).join('&');
      console.log(queryString);
      return url + '?' + queryString;
    },

    
    showSpinnerWhileUpload (value){
      this.isUploading = value;
      this.$emit('showSpinnerWhileUpload', value);
    }
  }
};
</script>
<style lang="scss" scope>
.content-wrapper {
  &.profile-wp {
    background-color: #fff;
  }
}

.content-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
</style>