<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>Asset Style Fit Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save 
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        Basic Info
      </div>
      <div class="card p-5">
        <div class="form-group">
          <UploadImage :src="form.imageUrl" v-on:getImage="childFromParent"/>
        </div>  

        <div class="form-group">
          <label for="name">NAME *</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div class="form-group">
          <label for="status">BRAND</label>
          <select id="brand" name="brand" class="form-control" v-model="form.brand_id">
              <option></option>
              <option v-for="(item, index) in brands" :value="item._id" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">CATEGORY</label>
          <select id="category" name="category" class="form-control" v-model="form.category_id">
              <option></option>
              <option v-for="(item, index) in categories" :value="item._id" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">STATUS</label>
          <select id="status" name="status" class="form-control" v-model="form.status">
              <option></option>
              <option v-for="(item, index) in list_status" :value="item.value" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="SKU">SKU</label>
            <input
              type="text"
              v-model="form.sku"
              class="form-control"
              id="SKU" name="SKU"
              placeholder="SKU" 
            />    
        </div>
        
        <div class="form-group">
          <label for="attributes">ATTRIBUTES</label>
          <div class="row">
            <div class="col-lg-3 mt-1" v-for="(att,i) in attributes" :key="i">
                <div class="custom-control custom-checkbox" v-if="att.type==`boolean`">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    :name="`class`+att.key"
                    :id="`class`+att.key"
                    v-model="form.attributes[att.key]"
                    :true-value="1"
                    :false-value="0"
                  >
                  <label :for="`class`+att.key" class="capitalize custom-control-label">{{att.key}}</label>
                </div>

                <div class="custom-control d-flex pl-0" v-if="att.type==`select`">
                   <label for="status" class="mr-2 mt-1 capitalize">{{att.key}}</label>
                  <select :id="`select_`+att.key" :name="`select_`+att.key" class="form-control" v-model="form.attributes[att.key]">
                      
                      <option v-for="(item, j) in att.value" :value="item" :key="j">
                              {{ item}}
                      </option>
                  </select>
                </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="name" class="mr-4">ITEM ID:- </label> 
           <span>{{form._id}}</span>
        </div>


      </div>

      
    </div>

    <div v-if="form._id" class="content-body card"> 
        <div class="title m-2">
          FILE UPLOAD
        </div>
        <div class="content p-5">
          
          <button class="btn assisted-button d-flex" @click="handleAssistUpload()">
            <i class="fa fa-check"></i>
            <div>
              <p class="top1">ASSISTED UPLOAD</p>
              <p class="bottom1">Furniture Integration</p>
            </div>
          </button>
        </div>
      </div>
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiAssetsStyleFit, ApiUploadAssetStyleFitThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';


export const LIST_STATUS = [
  { name : "Pending", value: 'pending' },
  { name : "Active", value: 'active' },
  { name : "Archive", value: 'archive' },
  { name : "Draft", value: 'draft' }
]

Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage
  },
  mounted() {

  },
  data() {
    return {
      form : {
        attributes: {},
      },
      list_status : LIST_STATUS,
      isEdit : false,
      image: null,
      brands: [],
      categories: [],
      attributes: []
    };
  },


  created() {
    this.$emit('showLoading', false);
    let asset_id = get(this.$route, "params.id", 0);
    if(asset_id && asset_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(asset_id);
    }
    this.getBrands();
    this.getCategories();
    this.getAttributes();
  },
  methods: {
    getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiAssetsStyleFit}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    getBrands(){
        this.$emit('showLoading', true)
        let url = `${ApiAssetsStyleFit}/brands`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.brands = get(res.data, "data.list", []);     
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    getCategories(){
        this.$emit('showLoading', true)
        let url = `${ApiAssetsStyleFit}/categories`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.categories = get(res.data, "data.list", []);     
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    getAttributes(){
        this.$emit('showLoading', true)
        let url = `${ApiAssetsStyleFit}/attributes`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.attributes = get(res.data, "data", []);     
        
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'AssetStyleFit'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiAssetsStyleFit}/${this.form._id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadAssetStyleFitThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiAssetsStyleFit}`; 
          apiCall('post', url, this.form).then(res => {  
              let asset = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadAssetStyleFitThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', asset._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(asset);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(asset);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(asset){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'AssetStyleFitDetail', params: { id: asset._id }});
        this.getData(asset._id);
    },

    handleAssistUpload(){
       swal({
        title: "",
        text: "You want us to assist upload asset '" + this.form._id + "' ? ",
        icon: "info",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
        }).then(ok => {
          if (ok) {
            let data = {
              id: this.form._id
            }
            this.$emit('showLoading', true);
            apiCall('post', ApiAssetsStyleFit + '/request', data)
              .then(res => {
                console.log(res);
                swal("Request succeeded!", {
                  icon: "success"
                });
                this.$emit('showLoading', false);
              })
              .catch(error => {
                console.error(error);
              });
          } 
          
        });
    }

  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

  }

  .capitalize {
    text-transform: capitalize;
  }
 
</style>