<template>
  <ContentWrapper class="order-wp">
    <div class="content-heading">
      <h2>Orders Management</h2>
    </div>
    <div class="content-body">
      <v-client-table :data="ordersList" 
        :columns="['orderCode','status',
        'dataJson.final_price',
        'dataJson.shipping_method',
        'dataJson.payment_status',
        'dataJson.created_at',
        'action'
        ]"
        :options="options" class="cms-table cms-table-ticket">
        <template slot="orderCode" slot-scope="props" class="text-center" @click="edit(props.row)">
          <router-link class="nav-link link-txt pl-0" :to="`/orders/${props.row.id}`" @click.native="edit(props.row)">
              <span>{{ props.row.orderCode }}</span>
          </router-link>
        </template>

        <template slot="dataJson.order_status_text" slot-scope="props" class="col-status text-center" >
          <strong class="badge-cms badge badge-border-dark d-block">
            {{ props.row.dataJson.order_status_text }}
          </strong>
        </template>

        <template slot="dataJson.shipping_method" slot-scope="props" class="col-status text-center">
          <span class="text-truncate">
            {{ props.row.dataJson.shipping_method }}
          </span>
        </template>

        <template slot="dataJson.final_price" slot-scope="props" class="col-status text-center">
          <span>
            {{ props.row.dataJson.final_price }}
          </span>
        </template>

         <template slot="dataJson.created_at" slot-scope="props" class="col-status text-center">
          <span>
            {{ moment(props.row.dataJson.created_at).format('DD/MM/YYYY')}}
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div class="text-center">
            <button class="btn btn-xs" @click.prevent="edit(props.row)">
              <i class="far fa-edit"></i>
            </button>
          </div>
        </template>
        
        <template slot="child_row" slot-scope="props" class="child-table" >
          <div class="card-deck p-3 row clearfix text-left" v-if="props.row.dataJson != null">
            <div class="card cms-card">
                <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3><em class="icon-user mr-2"></em>Shipping</h3>
                </div>
                <div class="card-body">
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Shipping Name </label>
                            <span>{{props.row.dataJson.shipping_name}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Shipping Phone </label>
                            <span>{{props.row.dataJson.shipping_phone}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Shipping Status </label>
                            <span>{{props.row.dataJson.order_status_text}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Shipping address </label>
                             <span>{{props.row.dataJson.shipping_address_string}}</span> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="card cms-card">
                <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3><em class="icon-user mr-2"></em>Billing</h3>
                </div>
                <div class="card-body">
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Name </label>
                            <span>{{props.row.dataJson.billing_name}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Phone </label>
                            <span>{{props.row.dataJson.billing_phone}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Email </label>
                            <span>{{props.row.dataJson.billing_email}}</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Address </label>
                            <span>{{props.row.dataJson.billing_address_string}}</span>
                        </p>
                    </div>
                </div>
            </div>
          </div>

          <div class="card cms-card ml-3 mr-3">
            <div class="title-cs pl-3 mb-0 pb-0 text-left pt-1">
                <h3><em class="fas fa-list-ul mr-2"></em>Order History</h3>
            </div>
            <div class="card-body">
              <table class="table table-fdefault mb-3">
                <colgroup>
                    <col width="20%">
                </colgroup>
                <thead>
                    <th class="p-1">
                        <span>Item</span>
                    </th>
                    <th class="p-1">
                        <span>SKU</span>
                    </th>
                     <!-- <th class="p-1">
                        <span>Merchant</span>
                    </th> -->
                    <th class="p-1">
                        <span>Price</span>
                    </th>
                    <th class="p-1">
                        <span>Quantity</span>
                    </th>
                   <th class="p-1">
                        <span>status</span>
                    </th>
                    <th class="p-1">
                        <span>Final Price</span>
                    </th>
                    <th class="p-1">
                        <span>updated at</span>
                    </th>
                </thead>
                <tbody>
                   <tr class="table-detail-title" v-for="item in props.row.dataJson.order_items" v-bind:key="item.id">
                      <td>
                        <b-img style="width: 60px" :src="item.image"></b-img>
                      </td>
                      <td>
                        <span> {{ (item.sku) }} </span>
                      </td>
                      <!-- <td>
                          <span>{{ item.merchant.name }}</span>
                      </td> -->
                       <td>
                        <span>{{ item.price }}</span>
                      </td>
                       <td>
                        <span>{{ item.quantity }}</span>
                      </td>
                      <td>
                        <span>{{ item.status }}</span>
                      </td>
                       <td>
                        <span>{{ item.final_price }}</span>
                      </td>
                      <td>
                        <span>{{ moment(item.updated_at).format('DD/MM/YYYY') }}</span>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </template>
      </v-client-table>
    </div>
  </ContentWrapper>
</template>

<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiOrders, URLOrders } from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import moment from 'moment';
Vue.use(ClientTable);

export default {
  components: {
    ClientTable
  },
  created() {
    this.getData();
  },
  data() {
    return {
      ordersList: [],
      currentPage: 0,
      perPage: 10,
      moment,
      options: {
        pagination: { chunk: 5 },
        headings: {
            orderCode: 'Order ID',
            "dataJson.merchant.name":"Merchant",
            "dataJson.final_price":"Amount",
            "status": "Order Status",
            "dataJson.payment_status":"Payment Status",
            "dataJson.shipping_method": "Shipping Method",
            "dataJson.created_at": "created at",
            "action":"action"
        },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        }
      }
    };
  },
  methods: {
    getData(){
        this.$emit('showLoading', true)
        let url = `${ApiOrders}?page=${this.currentPage + 1}&per_page=${this.perPage}`;
        apiCall("get", url).then(res => {
          this.ordersList = concat(this.ordersList, get(res.data, "data.list", []));
          this.currentPage = get(res, "data.meta.current_page", 1);
          this.ordersList = this.ordersList.map((item, index) => {
                item["id"] = index;
                return item;
            });
            this.$emit('showLoading', false)
        })
        .catch(error => {
          console.error(error);
        });
    },
    edit(row) {
       this.$router.push(URLOrders + "/" + row.orderCode);
    },
    reload() {
      this.getData;
    },
    clear() {
      this.getData = [];
    },
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.order-wp{
      background-color:#fff;
    }
  }
</style>