

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="user">Edit User {{user.name}}</span>
            <span v-else>Create User</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              
              <div class="form-group">
                <div class="component-preview">
                    <img class="image-component-preview" v-if="formData.avatarUrl" v-bind:src="formData.avatarUrl" />
                </div>
              </div> 

              <div class="form-group">
                <label for="name">Full Name</label>
                <input
                  v-model="formData.full_name"
                  class="form-control mb-2"
                  id="fullname"
                  type="text"
                  placeholder="Full name"
                />
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  disabled
                  v-model="formData.email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
              </div>

              <div class="form-group">
                <label for="phone">Phone number</label>
                <input
                  v-model="formData.phone"
                  class="form-control mb-2"
                  id="phone"
                  type="number"
                  placeholder="Phone"
                />
              </div>

              

              <div class="form-group">
                <label for="phone">Brand</label>
                <select id="brand" name="brand" class="form-control" v-model="formData.brand">
                    <option></option>
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="key">Keygen</label>
                <select id="brand" name="brand" class="form-control" v-model="formData.brand">
                    <option></option>
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div> 
              
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="save" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiUsers } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['user', 'brands'],
   
    data() {
      return {
        formData : {
          
        },
        
        image:null,
        imageUrl: null,
        uploadFileName: null,
        file: null,

        updatedUser: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initUser();
      },

      initUser(){
        let user = this.user;
        this.formData = Object.assign(this.formData, user);
      },

      
      save(){
          let urlUpdate = `${ApiUsers}/${this.user.auth_id}`; 
          
          apiCall('put', urlUpdate, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedUser = res.data.data || null;
              this.close();      

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      close() {  
        this.$emit('closeChild');
        if(this.updatedUser){
          this.$emit('childToParent', this.updatedUser);
        }
      },

      

    },
  };
</script>

<style lang="scss" scoped>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}

.component-preview{
        width: 142px;
        height: 144px;
        border: 1px solid #c4c4c4;
        line-height:140px;
        text-align: center;
        
        .image-component-preview
        {
            cursor: pointer;
            max-width: 140px;
            max-height: 140px;
            
        }
        .div-component-preview{
            text-align:center;
            cursor: pointer;
            font-size: 60px;
            width: 140px;
            height: 140px;
            
            padding: 5px;
        }
        .foreground {
            cursor: pointer;
            background: #000000;
            height: 40px;
            position: relative;
            bottom: 40px;
            line-height: 42px;
            opacity: 0.6;
            font-size:20px;
            color: #d8d8d8;

        }
    }
</style>