

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span>Change password for account {{user.name}}</span>
          
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">        

              <div class="form-group">
                <label for="your_password">Input YOUR password *</label>
                <input
                  type="password" autocomplete="new-password"
                  v-model="formData.password"
                  class="form-control"
                  id="your_password" name="your_password"
                  placeholder="Your password" v-bind:class="{ errors: errors.has('your_password')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('your_password')">{{errors.first('your_password')}}</span>
              </div>

              <div class="form-group">
                <label for="new_password">Input new password for THIS ACCOUNT *</label>
                <input
                  type="password"
                  v-model="formData.new_password"
                  class="form-control"
                  id="new_password" name="new_password"
                  placeholder="Password for this account" v-bind:class="{ errors: errors.has('new_password')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('new_password')">{{errors.first('new_password')}}</span>
              </div>


            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiCMSUsers } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  
  Vue.use(VeeValidate)

  export default {
    name: 'ChangePassword',
    props : ['user'],
     components: {
     
    },
    data() {
      return {
        formData : {
          
        },
        updatedUser: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initUser();
      },

      initUser(){
        let user = this.user;
        this.formData = Object.assign(this.formData, user);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.user)
          if(valid){
            if(this.user){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiCMSUsers}/${this.user.auth_id}/password`; 
          apiCall('post', url, this.formData).then(res => {  
  
              this.updatedUser = res.data.data || null;

                this.close(); 
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },
  
      close() {  
        this.$emit('closeChild');
        if(this.updatedUser){
          this.$emit('childToParent', this.updatedUser);
        }
      },

  
    },
  };
</script>
<style>
 
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>