<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Versions Management</h2>
      <button class="btn btn-fprimary btn-add" @click="showModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="content-body pl-0 pr-0">
       <v-client-table :data="versions" 
       :columns="['brand', 'url','version', 'force_update', 'status', 'action']"
      :options="options" class="cms-table cms-table-ticket">
        
        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>Description</h3>
                      <p v-html="props.row.description"></p>
              </div>
            </div> 
          </div>
        </template>
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>

        
        <template slot="brand" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{props.row.brand}}</b>
          </span>
        </template>

        <template slot="force_update" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms" v-if="props.row.force_update">
            <b><i class="fa fa-check"></i></b>
          </span>
        </template>

        <template slot="url" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms" v-if="props.row.url">
            <b><a download v-bind:href="props.row.url">Dowload</a></b>
          </span>
        </template>
        
        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <Status :value="props.row.status"/>
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
              v-tooltip.bottom="{
                content: 'Edit Build',
                loadingContent: 'Please wait...',
                loadingClass: 'content-is-loading',
              }"
              >
                <i class="fa fa-edit"></i>
              </button>
          </div>
          </template>
      </v-client-table>
      
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :version="editingVersion"
      :brands="brands"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiVersions, ApiBrands } from "../../config";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from "sweetalert";
import Status from "../../components/Partials/Status";
import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";

Vue.use(VTooltip);
Vue.use(ClientTable);

export default {
  components: {
    ClientTable,
    Modal,
    Status
  },
  mounted() {},
  data() {
    return {
      versions: [],
      brands: [],
      isDeleting: false,
      openModalState: false,
      limit: 20,
      currentPage:1,
      editingVersion:null,
      options: {
        perPage: 20,
        pagination: { chunk: 5 },
        headings: {
           
          
        },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          status: "width-100",
          brand: "width-percent-25 text-center",
          version: "text-center",
          url: "text-center",
          force_update: "width-percent-10 text-center",
        }
        
      },
    };
  },
  created() {
    this.getData();
    this.initBrands();
  },
  methods: {
    getData() {
      this.$emit("showLoading", true);
      //let url = `${ApiVersions}?page=${this.currentPage + 1}&per_page=${this.limit}`;
      let url = `${ApiVersions}`;
      apiCall("get", url)
        .then(res => {
          this.$emit("showLoading", false);
          this.versions = get(res.data, "data.list", []);
          this.versions = this.versions.map((item, index) => {
                item["id"] = index;
                return item;
            });
          console.log(this.versions);
        })
        .catch(error => {
          console.error(error);
        });
    },

    initBrands(){
        let url = `${ApiBrands}`;   
        apiCall("get", url).then(res => {
          this.brands = res.data.data.list || [];
        })
        .catch(error => {
          console.error(error);
        });
    },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "Version " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiVersions + "/" + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.getData();
    },

    edit(row) {
      this.editingVersion = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingVersion = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingVersion = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    }
  }
};
</script>
<style lang="scss" scope>

tbody tr {
    height:40px;
  }
</style>