

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="bundle">Detail Bundle "{{bundle.displayName}}"</span>
            <span v-else>Create Bundle</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="childFromParent"/>
              </div>  

              <div class="form-group">
                <label for="displayName">Display Name</label>
                <input
                  v-model="formData.displayName"
                  class="form-control mb-2"
                  id="displayName"
                  type="text"
                  placeholder="Display Name"
                />
              </div>

              <div class="form-group">
                <label for="keyname">Key Name (*)</label>
                 <!-- <input
                  class="form-control prefix"
                  value="homestyler_"
                /> -->
                <input
                  type="text"
                  :disabled="bundle"
                  v-model="formData.keyname"
                  class="form-control"
                  id="keyname"
                  name="keyname"
                  placeholder="keyname"

                  v-bind:class="{ errors: errors.has('keyname')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('keyname')">{{errors.first('keyname')}}</span>
              </div>

              <div class="form-group">
                <label @click="showJson = !showJson" class="cursor-pointer text-bold" for="dataJson">Json (*) (Click to Show / Hide)</label>
                <textarea v-show="showJson || errors.has('dataJson')"
                  type="text"
                  v-model="dataJsonString"
                  class="form-control"
                  id="dataJson"
                  placeholder="Input JSON here ..."
                  name="dataJson"
                  rows=8
                  v-bind:class="{ errors: errors.has('dataJson')  }" v-validate="'required'"
                ></textarea>
                <span class="errors" v-if="errors.has('dataJson')">{{errors.first('dataJson')}}</span>
              </div>


              <div v-if="bundle" class="form-group mb-1 clearfix">
                <label  class="float-left mr-5">Status: </label>
                <div class="float-left">
                  <Status :value="formData.status"/>
                </div>
              </div>

              <div v-if="bundle" class="form-group clearfix">
                <label class=" mr-5">Items </label>
                <div class="clearfix">
                  <table class=" table table-striped table-bordered">
                    <tbody>
                      <tr v-for="(item, index) in listItems">
                        <td class="width-percent-20"><img v-if="item.object" class="max-height-75 width-percent-100" v-bind:src="item.object.thumbUrl"></td>
                        <td >{{index}}</td>
                        <td>{{item.count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer justify-content-between">
          
          <slot name="footer">
            <div  class="left"> 
              <button v-if="bundle && bundle.status == 'waiting'"
                type="button"
                class="btn-info ml-0"
                @click.self.prevent="approve" 
                :disabled="$store.state.isSaving"
                aria-label="approve bundle"
              >
                Approve
              </button>

              <button v-if="bundle  && bundle.status == 'waiting'"
                type="button"
                class="btn-danger"
                 @click.self.prevent="reject" 
                 :disabled="$store.state.isSaving"
                aria-label="reject modal"
              >
                Reject
              </button>
            </div>

            <div class="right"> 
              <button 
                type="button"
                class="btn-black"
                @click.self.prevent="validateAndSave" 
                :disabled="$store.state.isSaving"
                aria-label="Save modal"
              >
                Save
              </button>

              <button
                type="button"
                class="btn-white"
                @click="close"
                aria-label="Close modal"
              >
                Close
              </button>
            </div>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { 
    ApiBundles, 
    ApiUploadBundleThumb, 
    ApiGetListBundleItems,
    ApiApproveBundle,
    ApiRejectBundle
  } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import Status from "../../../components/Partials/Status";
  //import MaskedInput from 'vue-masked-input';

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : [ 'bundle'],
   components: {
      UploadImage,
      Status,
    //  MaskedInput
    },
    data() {
      
      return {
        
        formData : {
          dataJson: {},
          keyname : "homestyler_"
        },
        dataJsonString : null,
        listItems: [],
        image:null,
        imageUrl: null,
        uploadFileName: null,
  
        updatedBundle: null,

        showJson : !this.bundle 

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {
        if (this.bundle){
          this.init();
        }
      },

      init(){
        let bundle = this.bundle;
        this.formData = Object.assign(this.formData, bundle);
        this.dataJsonString = JSON.stringify(bundle.dataJson);
        this.getListItems();
      },

      getListItems(){
        let urlGetListItems = `${ApiGetListBundleItems}`.replace(':key', this.bundle.keyname);
        apiCall('get', urlGetListItems).then(res => {  
              
              this.listItems = res.data.data || []; 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

       validateAndSave(){
        this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.bundle){
              this.save();
            }
            else{
              this.saveCreate();
            }

          }
        });
        
      },
      saveCreate(){
          let url = `${ApiBundles}`; 
          let urlUploadThumb = `${ApiUploadBundleThumb}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          apiCall('post', url, this.formData).then(res => {  
              this.updatedBundle = res.data.data || null;
              if(this.image){
                let formImage = new FormData();
                formImage.append('image', this.image);
                formImage.append('keyname', this.formData.keyname);
                apiBinaryPost(urlUploadThumb, formImage).then(resUpload => {
                  this.close();   
                }).catch(errUp => {            
                  console.log('errUpload', errUp);
                });
              }
              else{
                this.close();   
              }

              
                 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      save(){
          let urlUpdate = `${ApiBundles}/${this.bundle.keyname}`; 
          let urlUploadThumb = `${ApiUploadBundleThumb}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          apiCall('put', urlUpdate, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedBundle = res.data.data || null;
              if(this.image){
                let formImage = new FormData();
                formImage.append('image', this.image);
                formImage.append('keyname', this.formData.keyname);
                apiBinaryPost(urlUploadThumb, formImage).then(resUpload => {
                  this.close();   
                }).catch(errUp => {            
                  console.log('errUpload', errUp);
                });
              }
              else{
                this.close();   
              }
   

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      approve(){
        let url = `${ApiApproveBundle}`.replace(':key', this.bundle.keyname);
        apiCall('post', url).then(res => {  
              this.updatedBundle = this.bundle;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      reject(){
        let url = `${ApiRejectBundle}`.replace(':key', this.bundle.keyname);
        apiCall('post', url).then(res => {  
              this.updatedBundle = this.bundle;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      close() {  
        this.$emit('closeChild');
        if(this.updatedBundle){
          this.$emit('childToParent', this.updatedBundle);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }


    },
  };
</script>

<style>

</style>