<template>
    <div class="wrapper">

        <!-- Main section-->
        <section class="">
            <!-- Page content-->
            <router-view/>
        </section>

    </div>
</template>

<script>
    import Vue from 'vue';
    import Footer from './Footer'
    import ContentWrapper from './ContentWrapper'

    Vue.component('ContentWrapper', ContentWrapper)

    export default {
        name: 'Empty',
        components: {
            Footer
        }
    }
</script>
<style lang="scss" scoped>
.wrapper{
    background: #e9f2fe;
}
</style>