<template>
    <header class="cms-topnavbar topnavbar-wrapper">
        <!-- START Top Navbar-->
        <nav class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <div class="brand-logo">
                        <img class="img-fluid" src="img/logo-w.png" alt="App Logo">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img class="img-fluid" src="img/logo-w.png" alt="App Logo">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <!-- START Left navbar-->
            <ul class="navbar-nav mr-auto flex-row">
                <li class="nav-item">
                    <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                     <a href="" class="nav-link d-none d-md-block d-lg-block d-xl-block" @click.prevent="toggleAsideCollapsed">
                        <em class="fas fa-bars"></em>
                    </a>
                    <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                    <a href="" class="nav-link sidebar-toggle d-md-none" @click.prevent="toggleOffcanvas">
                        <em class="fas fa-bars"></em>
                    </a>
                </li>
                
                <!-- START lock screen-->
                <li class="nav-item d-none">
                    <router-link class="nav-link" to="/lock" title="Lock screen">
                        <em class="icon-lock"></em>
                    </router-link>
                </li>
                <!-- END lock screen-->

                <!-- Search icon-->
                 <!-- <li class="nav-item">
                    <a class="nav-link" href="#" data-search-open="">
                        <em class="icon-magnifier"></em>
                    </a>
                 </li> -->
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" data-search-open="">
                        <em class="icon-magnifier"></em>
                    </a> -->
                
                </li>
            </ul>
            <!-- END Left navbar-->
            <!-- START Right Navbar-->
            <ul class="navbar-nav flex-row pr-3">
                 <b-nav-item-dropdown class="dropdown-list dropdown-account" no-caret menuClass="animated flipInX" right>
                    <template slot="button-content">
                        <div class="thumbnail-avatar">
                            <div class="txt-avatar">
                                <strong>{{$store.getters.getProfile ? $store.getters.getProfile.name : ''}}</strong>
                                <!-- <label>Administrator</label> -->
                            </div>
                            <img v-bind:src="$store.getters.getProfile ? 'img/ra_logo.png' : 'img/ra_logo.png'" alt="..." class="img-thumbnail">
                            <em class="icon-arrow-down"></em>
                        </div>
                    </template>
                    <b-dropdown-item>
                        <!-- START list group-->
                        <div class="list-group">
                            <!-- last list item-->
                            <div class="list-group-item list-group-item-action">
                                
                                    
                                    <router-link  :to="URLProfile" active-class="active">
                                        <span class="d-flex align-items-center">
                                            <span class="text-sm">Profile</span>
                                        </span>
                                    </router-link>
                                
                            </div>
                            <div class="list-group-item list-group-item-action" @click.prevent.prevent="handleLogout">
                                <span class="d-flex align-items-center">
                                    <span class="text-sm">Logout</span>
                                </span>
                            </div>
                        </div>
                        <!-- END list group-->
                    </b-dropdown-item>
                </b-nav-item-dropdown>

                <!-- Fullscreen (only desktops)-->
                <li class="nav-item d-none d-md-block">
                    <ToggleFullscreen tag="A" class="nav-link" href="#" />
                </li>

                <!-- START Alert menu-->
                <b-nav-item-dropdown class="dropdown-list d-none" no-caret menuClass="animated flipInX" right>
                    <template slot="button-content">
                        <em class="icon-bell"></em>
                        <span class="badge badge-danger">11</span>
                    </template>
                    <b-dropdown-item>
                        <!-- START list group-->
                        <div class="list-group">
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fab fa-twitter fa-2x text-info"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">New followers</p>
                                        <p class="m-0 text-muted text-sm">1 new follower</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fas fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">New e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fas fa-tasks fa-2x text-success"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">Pending Tasks</p>
                                        <p class="m-0 text-muted text-sm">11 pending task</p>
                                    </div>
                                </div>
                            </div>
                            <!-- last list item-->
                            <div class="list-group-item list-group-item-action">
                                <span class="d-flex align-items-center">
                                    <span class="text-sm">More notifications</span>
                                    <span class="badge badge-danger ml-auto">14</span>
                                </span>
                            </div>
                        </div>
                        <!-- END list group-->
                    </b-dropdown-item>
                </b-nav-item-dropdown>
                <!-- END Alert menu-->

                
                <!-- START Offsidebar button-->
                <!-- <li class="nav-item">
                    <a href="" class="nav-link" @click.prevent.prevent="toggleOffsidebar">
                        <em class="icon-notebook"></em>
                    </a>
                </li> -->
                <!-- END Offsidebar.prevent menu-->
            </ul>
            <!-- END Right Navbar-->
            <HeaderSearch />
        </nav>
        <!-- END Top Navbar-->
    </header>
</template>

<script>
    import Vue from 'vue'
    import { mapMutations, mapActions } from 'vuex'
    import HeaderSearch from '@/components/Layout/HeaderSearch'
    import ToggleFullscreen from '@/components/Common/ToggleFullscreen'
    import { URLLogin, URLHome, URLProfile } from '../../config';
   // import { URLTickets, URLSearch } from "../../config"; 
    import authService from "../../helpers/authService";
    import { get, isEmpty } from "lodash";

    export default {
        name: 'Header',
        props: {
            // clearmsg: {
            // type: String
            // }
        },
        components: {
            HeaderSearch,
            ToggleFullscreen
        },
        data() {
            //const auth = authService.getAuth();
            let profile = authService.getProfile();
            //console.log('auth', auth);
            //console.log('profile', profile);
            return {
                URLHome,
                URLProfile,
                profile,
                // Search,
                searchQuery: null,
                searchQueryDirty: false,
            }
        },
        // mounted() {     
        //     this.profile = authService.getProfile();      
        // },
        // watch: {
        //      'profile' : function(newVal, oldVal) {
        //          console.log('watch', newVal);
        //         this.profile  = newVal;
        //      }
        // },
        created(){
           
        },
        methods: {
            search: function(e){
               // this.$emit("searchMsg", this.searchQuery);
                if(this.searchQuery == null){
                    this.$router.push(`${URLSearch}`); 
                }else{
                    this.$router.push(`${URLSearch}?q=${this.searchQuery}`);
                }
            },
            clearSearch: function(e){
                this.searchQuery = '';
                this.$router.push(`${URLSearch}`); 
            },
            /**
             * Triggers a window resize event when clicked
             * for plugins that needs to be redrawed
             */
            resize: e => {
                // all IE friendly dispatchEvent
                var evt = document.createEvent('UIEvents');
                evt.initUIEvent('resize', true, false, window, 0);
                window.dispatchEvent(evt);
                // modern dispatchEvent way
                // window.dispatchEvent(new Event('resize'));
            },
            ...mapMutations([
                'toggleSetting'
            ]),
             ...mapActions([
                'actionLogout'
            ]),
            toggleOffsidebar() {
                this.toggleSetting('offsidebarOpen')
            },
            toggleOffcanvas() {
                this.toggleSetting('asideToggled')
            },
            toggleAsideCollapsed() {
                this.toggleSetting('isCollapsed')
                this.resize();
            },
            toggleUserBlock() {
                this.toggleSetting('showUserBlock')
            },
            handleLogout() {
                this.actionLogout().then(() => {
                    this.$router.push(URLLogin);
                });
            }
        }
    }
</script>