<template>
    <ContentWrapper class="tickets-wp">
      <div v-if="ticketDataById != null">
        <div class="content-heading">
            <h2>Ticket <span># {{ this.$route.params.id }}</span></h2>
            <div class="ml-auto">
                <button class="btn btn-fprimary" @click="createdRequest">Create Request</button>
            </div>
        </div>
        <div class="content-body pt-0">
            <div class="form-cs">
                <div class="card cms-card">
                    <div class="card-body p-3">
                        <div class="title-line">
                            <h3>Ticket Info:</h3>
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Title">Title</label>
                                    <input
                                        class="form-control mb-2"
                                        id="Title"
                                        type="text"
                                        placeholder="Title"
                                        v-model="ticketDataById.title"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <input
                                        class="form-control mb-2"
                                        id="Description"
                                        type="text"
                                        placeholder="Description"
                                        v-model="ticketDataById.description"/>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Type: </label>
                                    <!-- <strong> {{ ticketDataById.type  }}</strong> -->
                                    <strong class="badge-cms badge badge-border-dark d-block">{{ ticketDataById.type }}</strong>
                                    <!-- <multiselect
                                        v-model="ticketDataById.type"
                                        :options="options"
                                        :multiple="false"
                                        :close-on-select="true"
                                        :preserve-search="true"
                                        :searchable="false"
                                        placeholder="Type here"
                                    /> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Title">Status</label>
                                    <strong v-if="ticketDataById.status == 'to-do'" class="badge-cms badge badge-yellow">{{ ticketDataById.status }}</strong>
                                    <strong v-if="ticketDataById.status == 'in-progress'" class="badge-cms badge badge-blue">{{ ticketDataById.status }}</strong>
                                    <strong v-if="ticketDataById.status == 'resolved'" class="badge-cms badge badge-green">{{ ticketDataById.status }}</strong>
                                </div>
                            </div>
                        </div>

                         <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Creator</label>
                                    <input
                                        class="form-control mb-2"
                                        id="creator"
                                        type="text"
                                        placeholder="Creator Name"
                                        v-model="ticketDataById.creator.name"
                                        disabled/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email creator</label>
                                    <input type="email" v-model="ticketDataById.creator.email" 
                                    disabled class="form-control" id="email" placeholder="Enter email" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card cms-card" v-if="(ticketDataById.customer != undefined && ticketDataById.customer != null)" >
                    <div class="card-body p-3">
                        <div class="title-line">
                            <h3>Customer Info:</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6" >
                                <div class="form-group" v-if="(ticketDataById.customer.name != undefined && ticketDataById.customer.name != null)">
                                    <label for="name">Name</label>
                                    <input
                                        class="form-control mb-2"
                                        id="name"
                                        type="text"
                                        placeholder="name"
                                        v-model="ticketDataById.customer.name" disabled/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <input
                                        class="form-control mb-2"
                                        id="type"
                                        type="text"
                                        placeholder="type"
                                        v-model="ticketDataById.customer.type" disabled/>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone number</label>
                                    <input
                                        class="form-control mb-2"
                                        id="phone"
                                        type="number"
                                        placeholder="Phone number"
                                        v-model="ticketDataById.customer.phone"
                                        disabled/>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" 
                                        v-model="ticketDataById.customer.email"
                                        disabled class="form-control" id="email" placeholder="Enter email"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card cms-card">
                    <div class="card-body p-3">
                        <div class="title-line">
                            <h3>Refund order history:</h3>
                        </div>
                        <div class="col-sm-12 pl-0 pr-0 clearfix">
                            <table class="table table-fdefault">
                                <colgroup>
                                    <col width="20%">
                                </colgroup>
                                <thead class="thead-bg">
                                    <th>
                                        <span>order Code</span>
                                    </th>
                                    <th>
                                        <span>status</span>
                                    </th>
                                    <th>
                                        <span>ticket Id</span>
                                    </th>
                                    <th>
                                        <span>created at</span>
                                    </th>
                                    <th>
                                        <span>updated at</span>
                                    </th>
                                </thead>
                                <tbody>
                                <tr v-if="(ticketDataById.order_requests == undefined && ticketDataById.order_requests == null)">
                                    <td colspan="5" class="text-center">
                                        <span>No found data</span>
                                    </td>
                                </tr>
                                <tr class="table-detail-title" v-for="item in ticketDataById.order_requests" v-bind:key="item._id">
                                    <td>
                                        <span>{{ item.orderCode }}</span>
                                    </td>
                                     <td>
                                        <span>{{ item.status }}</span>
                                    </td>
                                     <td>
                                        <span>{{ item.ticketId }}</span>
                                    </td>
                                     <td>
                                        <span>{{moment(item.created_at).format('DD/MM/YYYY')}}</span>
                                    </td>
                                     <td>
                                        <span>{{moment(item.updated_at).format('DD/MM/YYYY')}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-2">
                    <button class="btn btn-fprimary" type="save" @click="updateTicket()">Save</button>
                </div>
            </div>
        </div>
      </div>

    <!-- MODAL -->
    <b-modal id="modal-tickets-request" class="modal-cms" :hide-header="true" :hide-footer="true">
        <template v-slot:modal-header>
            <a class="modal-ico-close" @click="hideModal()">
            <i class="fa fa-times"></i>
            </a>
        </template>
     
        <div class="col-md-12 pl-0 pr-0">
            <div class="form-tickets">
                <h3>Create request Order</h3>
                <div class="align-items-center pt-2 pb-3">
                    <div class="form-group">
                        <label for="ticket">Ticket</label>
                        <input
                        v-model="this.ticketDataById.ticketId"
                        class="form-control"
                        id="ticket"
                        type="text"
                        placeholder="your ticket"
                        disabled/>
                    </div>

                    <div class="form-group">
                        <label for="orderCode">Order Code</label>
                        <input
                        v-model="orderCode"
                        class="form-control"
                        id="orderCode"
                        type="text"
                        placeholder="Order Code"/>
                    </div>
                </div>
            </div>
            <button class="btn btn-fprimary" type="submit"  @click="postTicketRequestData()">Create Request</button>
            <button class="btn btn-fdefault float-md-right" type="submit" @click="hideModal()">
                Cancel
            </button>
        </div>
    </b-modal>
    </ContentWrapper>
</template>

<!--<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>-->
<script>
import Vue from "vue";
import { mapGetters, mapActions, mapState } from "vuex";
// import Multiselect from "vue-multiselect";
import { ApiTickets, URLTickets, ApiTicketsRequest } from "../../config";
import apiCall from '../../helpers/apiCall';
import moment from 'moment';
import { get } from 'lodash';
export default {
    // components: {
    //     Multiselect
    // },
    created(){
        this.getDataById();
    },
    mounted () {
       this.getDataById();
    },
    computed: mapGetters(["getTicketDataById"]),
    data(){
        return{
            toastedTheme: 'primary',
            toastedDuration: 500,
            toastedText: 'Toasted Message',
            toastedPosition: 'top-center',
            toastedVariant: 'default',
            
            detailData: {},
            ticketDataById: {},
            loading: true,
            isEditor: false,
            isAddNew: false,
            moment,
            tmpData: {},

            // Multiselect
            // options:["Order", "Support"],
            typesTickets: '',
            value: null,
            
            // Styleing Table
            style: {
                striped: false,
                bordered: false,
                outlined: false,
                small: false,
                hover: false,
                dark: false,
                fixed: false,
                footClone: false
            },

            // Request
            orderCode: ""
        }
    },
    methods:{
         ...mapActions(["getTicketById", "updateTicket", "postTicketRequest"]),
        getDataById(){
            this.$emit('showLoading', true)
            if(this.$route.params.id){
                this.getTicketById(this.$route.params.id).then(data =>{
                    setTimeout(()=>{
                        this.ticketDataById = this.getTicketDataById;
                       this.$emit('showLoading', false)
                    }, 600)
                })
            }
         },
        
        updateTicket(){
            this.updateTicket(this.ticketDataById).then(res => {
                this.hideModal();
            })
            .catch(error => {
                console.log('error',error);
            });
        },

        postTicketRequestData(){
            let payload = {
                ticketId: this.$route.params.id,
                orderCode: this.orderCode
            }
            this.postTicketRequest(payload);
        },
        
        /* MODAL */
        hideModal() {
        this.$root.$emit("bv::hide::modal", "modal-tickets-request");
        },
        createdRequest() {
            this.$root.$emit("bv::show::modal", "modal-tickets-request");
        }
    }
}
</script>