<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>Material Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save 
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        Basic Info
      </div>
      <div class="card p-5">
        <div class="form-group">
          <UploadImage :src="form.imageUrl" v-on:getImage="childFromParent"/>
        </div>  

        <div class="form-group">
          <label for="name">NAME *</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div class="form-group">
          <label for="status">BRAND</label>
          <select id="brand" name="brand" class="form-control" v-model="form.brand_id">
              <option></option>
              <option v-for="(item, index) in brands" :value="item._id" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">CATEGORY</label>
          <select id="category" name="category" class="form-control" v-model="form.category_id">
              <option></option>
              <option v-for="(item, index) in categories" :value="item._id" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">STATUS</label>
          <select id="status" name="status" class="form-control" v-model="form.status">
              <option></option>
              <option v-for="(item, index) in list_status" :value="item.value" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">TAGS</label>
          <input-chip v-on:list-chip="getTags" :list="form.tags"/>
        </div>

        <div class="form-group">
          <label for="name" class="mr-4">ITEM ID:- </label> 
           <span>{{form._id}}</span>
        </div>


      </div>

      
    </div>

    <div v-if="form._id" class="content-body card"> 
        <div class="title m-2">
          FILE UPLOAD
        </div>
        <div class="content p-5">
          
          <button class="btn assisted-button d-flex" @click="handleAssistUpload()">
            <i class="fa fa-check"></i>
            <div>
              <p class="top1">ASSISTED UPLOAD</p>
              <p class="bottom1">Furniture Integration</p>
            </div>
          </button>
        </div>
      </div>
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiMaterials, ApiUploadMaterialThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import InputChip from "../../components/Partials/InputChip";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';


export const LIST_STATUS = [
  { name : "Pending", value: 'pending' },
  { name : "Active", value: 'active' },
  { name : "Archive", value: 'archive' },
  { name : "Draft", value: 'draft' }
]

Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage,
    InputChip
  },
  mounted() {

  },
  data() {
    return {
      form : {
        tags: []
      },
      list_status : LIST_STATUS,
      isEdit : false,
      image: null,
      brands: [],
      categories: []
    };
  },


  created() {
    this.$emit('showLoading', false);
    let material_id = get(this.$route, "params.id", 0);
    if(material_id && material_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(material_id);
    }
    this.getBrands();
    this.getCategories();
  },
  methods: {
    getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiMaterials}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    getBrands(){
        this.$emit('showLoading', true)
        let url = `${ApiMaterials}/brands`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.brands = get(res.data, "data.list", []);     
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    getCategories(){
        this.$emit('showLoading', true)
        let url = `${ApiMaterials}/categories`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.categories = get(res.data, "data.list", []);     
          
        })
        .catch(error => {
          console.error(error);
        });
    },
   
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'Material'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiMaterials}/${this.form._id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadMaterialThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiMaterials}`; 
          apiCall('post', url, this.form).then(res => {  
              let material = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadMaterialThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', material._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(material);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(material);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(material){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'MaterialDetail', params: { id: material._id }});
        this.getData(material._id);
    }
    ,
    getTags(value){
      this.form.tags = value;
    },

    handleAssistUpload(){
       swal({
        title: "",
        text: "You want us to assist upload material '" + this.form._id + "' ? ",
        icon: "info",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
        }).then(ok => {
          if (ok) {
            let data = {
              id: this.form._id
            }
            this.$emit('showLoading', true);
            apiCall('post', ApiMaterials + '/request', data)
              .then(res => {
                console.log(res);
                swal("Request succeeded!", {
                  icon: "success"
                });
                this.$emit('showLoading', false);
              })
              .catch(error => {
                console.error(error);
              });
          } 
          
        });
    }

  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

  }


 
</style>