

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="colorGroup">Edit Color Group {{colorGroup.name}}</span>
            <span v-else>Create ColorGroup</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              
              <div class="form-group">
                <label for="phone">Brand</label>
                <select id="brand" name="brand" class="form-control" @change="onChange($event)" v-model="formData.brand">
                    <option></option>
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Code *</label>
                <input
                  type="text"
                  :disabled="colorGroup"
                  v-model="formData.code"
                  class="form-control"
                  id="code" name="code"
                  placeholder="Code" v-bind:class="{ errors: errors.has('code')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('code')">{{errors.first('code')}}</span>
              </div>

              <div class="form-group ">
                <label for="name">Hex *</label>
                <div class="input-group ">
                  <input
                    type="text"
                    v-model="formData.hex"
                    class="form-control width-percent-50" v-on:keyup="changeDataHex"
                    id="hex" name="hex"
                    placeholder="Hex color" v-bind:class="{ errors: errors.has('hex')  }" v-validate="'required'"
                  />
                <span class="width-50" v-bind:style="{'background':'#' + hex }">&nbsp;</span>
                
                </div>
                <span class="errors" v-if="errors.has('hex')">{{errors.first('hex')}}</span>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiColorGroups, ApiUploadColorGroupThumb } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['colorGroup', 'brands'],
    components: {
      UploadImage
    },
    data() {
      return {
        formData : {
          
        },
        hex:null,
        image:null,
        imageUrl: null,

        updatedColorGroup: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      changeDataHex(){
        this.hex = this.formData.hex;
        console.log('hex', this.hex);
      },

      onChange(event){
        let val = event.target.value;
        if(!this.colorGroup){
          this.formData.code = val + "-";
        }
      },
      initData() {

        this.initColorGroup();
      },

      initColorGroup(){
        let colorGroup = this.colorGroup;
        this.formData = Object.assign(this.formData, colorGroup);
        this.hex = this.formData.hex;
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.colorGroup)
          if(valid){
            if(this.colorGroup){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiColorGroups}/${this.colorGroup.code}`; 
         
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedColorGroup = res.data.data || null;
              this.close();
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiColorGroups}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedColorGroup = res.data.data || null;

              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedColorGroup){
          this.$emit('childToParent', this.updatedColorGroup);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>