<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>MaterialCategories Management</h2>
      <button class="btn btn-fprimary btn-add" @click="showModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="content-body pl-0 pr-0">
       <v-client-table :data="materialCategories" 
       :columns="['imageUrl', 'name','code', 'action']"
      :options="options" class="cms-table cms-table-ticket">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>

        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit MaterialCategory',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete MaterialCategory',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            
          </div>
        </template>
      </v-client-table>
      
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :materialCategory="editingMaterialCategory"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiMaterialCategories } from "../../config";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from "sweetalert";

import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";

Vue.use(VTooltip);
Vue.use(ClientTable);

export default {
  components: {
    ClientTable,
    Modal
  },
  mounted() {},
  data() {
    return {
      materialCategories: [],
  
      isDeleting: false,
      openModalState: false,
      editingMaterialCategory: null,
      options: {
        perPage: 20,
        pagination: { chunk: 5 },
        headings: {
           "imageUrl" : "Thumb"
          
        },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
       
          imageUrl: "width-100",
          action: "width-100"
        }
        
      },
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.$emit("showLoading", true);
      //let url = `${ApiMaterialCategories}?page=${this.currentPage + 1}&per_page=${this.limit}`;
      let url = `${ApiMaterialCategories}`;
      apiCall("get", url)
        .then(res => {
          this.$emit("showLoading", false);
          this.materialCategories = get(res.data, "data.list", []);
          
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "MaterialCategory " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiMaterialCategories + "/" + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.getData();
    },

    edit(row) {
      this.editingMaterialCategory = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingMaterialCategory = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingMaterialCategory = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    }
  }
};
</script>
<style lang="scss" scope>
.content-wrapper {
  &.profile-wp {
    background-color: #fff;
  }
}
</style>