<template>

    <div class="chip-container">
      <div class="chip" v-for="(chip, i) of chips" :key="chip.label">
        {{chip}}
        <i class="material-icons" @click="deleteChip(i)">x</i>
      </div>
      <input class="form-control" v-model="currentInput" @keypress.enter="saveChip" @keydown.delete="backspaceDelete">
    </div>
</template>

<script>
    export default {
        name: 'InputChip',
        props: {
            set: {
                type: Boolean,
                default: true
            },
            list : {
                type: Array
            }
        },
        watch: {
            list: function(newVal, oldVal){
                this.chips = newVal;
            }
        },
        data (){
            return {
                chips: this.list || [],
                currentInput: ''
            }
        },
        methods: {
            saveChip() {
                const {chips, currentInput, set} = this;
                ((set && chips.indexOf(currentInput) === -1) || !set) && chips.push(currentInput);
                this.currentInput = '';
                this.$emit('list-chip', this.chips);
            },
            deleteChip(index) {
                this.chips.splice(index, 1);
                this.$emit('list-chip', this.chips);
            },
            backspaceDelete({which}) {
                which == 8 && this.currentInput === '' && this.chips.splice(this.chips.length - 1) && this.$emit('list-chip', this.chips);
                
            }
        }
    }
</script>
<style lang="scss" scoped>
    .chip-container {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        min-height: 30px;
        display:flex;
        flex-wrap: wrap;
        align-content: space-between;
        .chip {
            margin:4px;
            background: #e0e0e0;
            padding:0px 4px;
            border: 1px solid #ccc;
            border-radius: 3px;
            display:flex;
            align-items: center;
            i {
            cursor: pointer;
            opacity: .56;
            margin-left:8px;
            }
        }
        input {
            flex: 1 1 auto;
            width:100%;
            border: none;
            outline: none;
            padding:4px;
        }
    }
</style>