<template>
    <div v-if="value" v-bind:class="className" class="status">
        <span>{{this.value}}</span>
    </div>
</template>

<script>
    export default {
        name: 'Status',
        props: {
            value : String
        },
        watch: { 
      	    value: function(newVal, oldVal) { 
                let status = 'pending';
                switch(newVal){
                    case 'pending':
                        status = 'pending';
                        break;
                    case 'published':
                        status = 'published';
                        break;
                    case 'private':
                        status = 'private';
                        break;
                    case 'waiting':
                        status = 'waiting';
                        break;
                    case 'rejected':
                        status = 'rejected';
                        break;
                    default:
                        break;
                        
                }
                this.className = "status-" + status;
            }
        },
        data (){
            let status = 'pending';
            switch(this.value){
                case 'pending':
                    status = 'pending';
                    break;
                case 'published':
                    status = 'published';
                     break;
                case 'private':
                    status = 'private';
                     break;
                case 'waiting':
                    status = 'waiting';
                    break;
                case 'rejected':
                    status = 'rejected';
                    break;
                default:
                    break;
                    
            }
            return {
                className: "status-" + status
            }
        }
    }
</script>
<style lang="scss" scoped>
    .status-pending {
        font-weight: bold;
        background : #777777;
        color: white;
        text-transform: capitalize;
        
    }
    .status-waiting {
        font-weight: bold;
        background : #777777;
        color: white;
        text-transform: capitalize;
       
    }
    .status-published {
        font-weight: bold;
        background : #00CC66;
        color: white;
        text-transform: capitalize;
       
    }
    .status-rejected {
        font-weight: bold;
        background : #CC3300;
        color: white;
        text-transform: capitalize;
     
    }
    .status-private {
        font-weight: bold;
        background : #777777;
        color: white;
        text-transform: capitalize;
        
    }
    
    .status {
        border-radius: 15px;
        padding: 4px 10px;
        max-width:90px;
    }
</style>