<template>
    <div class="tree-folder">
        <div v-for="(item, i) in listItems" :key="i">
            <div class="item d-flex justify-content-between" :id="`item_`+item._id" :class="{selected: currentSelected == item._id && stateParentSelected == currentSelected}" @click="toggle(item, i)">
                <div class="row ">
                    <img class="mr-1 ml-3 mt-1" style="width:15px;height:15px" :src="item.imageUrl"/><p class="">{{ item.name }} <span v-if="isFolder(item)">[{{ openList.includes(item._id) ? '-' : '+' }}]</span> </p>
                </div>
                <div class="right mr-2 mt-1">
                    <div @click="edit(item)" v-if="currentSelected == item._id && stateParentSelected == currentSelected">
                        <i class="fa fa-edit"></i>  
                        </div>
                </div>
            </div>
            <!-- <ul v-show="item.isOpen" > -->
            <ul class="ml-3" v-show="openList.includes(item._id)"
            v-if="isFolder(item)">
                <tree-folder
                    class="item"
                    :items="item.children"
                    v-on:selectItemChild="itemAtParent"
                    v-on:editItemChild="editAtChild"
                    :parentSelected="currentSelected"
                ></tree-folder>
            
            </ul>
        </div>

    </div>
</template>

<script>


    export default {
        name: 'TreeFolder',
        props: ['items', 'parentSelected'],
        watch: {
            items: function(newVal, oldVal) {
                // watch it
                if(oldVal !== newVal){
                    this.listItems = newVal;
                }
            },
            parentSelected: function(newVal, oldVal) {
               if(oldVal !== newVal){
                    this.stateParentSelected = newVal;
                }
            }
        },
        data: function() {
          return {
            listItems: this.items,
            openList : [],
            currentSelected : null,
            stateParentSelected : this.parentSelected
          };
        },
        computed: {
          
        },
        methods: {
            isFolder: function(item) {
                return item.children && item.children.length;
            },
            toggle(item) {
                if (this.isFolder(item)) {
                    if(this.openList.indexOf(item._id) > -1){
                        this.openList.splice(this.openList.indexOf(item._id), 1);    
                    }else{
                        this.openList.push(item._id);
                    }
                    
                }
                
                this.selectItem(item);
            },

            selectItem(item){
                this.currentSelected = item._id;
                this.$emit('selectItemChild', this.currentSelected);
            },
            itemAtParent(value){
                this.currentSelected = value;
                this.$emit('selectItemChild', this.currentSelected);
            },
            edit(item){
                this.editAtChild( item);
            },
            editAtChild(value){
                this.$emit('editItemChild', value);
            }
            
        }
    }
</script>
<style lang="scss" scoped>
    
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
.tree-folder {
    .item {
        padding: 3px 0px 3px 5px;
    }
    p {
        font-size:18px;
    }
    .selected {
        background: #d4d4d4;
    }
}
   
</style>