<template>
    <div>
                 
        <input type="file" name="image" id="file-component-input" ref="file-component-input" accept=".jpg, .jpeg, .png" @change="onImageChange"  />
        <div @mouseover="showOnHover = true" @mouseout="showOnHover = false" class="component-preview">
            <img class="image-component-preview" v-if="imageUrl" :src="imageUrl" @click="trigger"/>
            <div v-show="showOnHover" class="foreground" v-if="imageUrl" @click="trigger"><i class="fa fa-camera"></i> </div>
            <div class="div-component-preview" v-else @click="trigger">
                <i class="fa fa-camera"></i> 
            </div>
        </div>
    </div> 
</template>

<script>
    export default {
        name: 'UploadImage',
        props: ['src'],
        watch: {
            src: function(newVal, oldVal) {
                // watch it
                if(oldVal !== newVal){
                    this.imageUrl = newVal;
                }
            }
        },
        data (){
            return {
                showOnHover: false,
                imageUrl : this.src || null
            }
        },
        methods : {
            trigger () {
                console.log(this.$refs)
                this.$refs['file-component-input'].click()
            },
            onImageChange (e){
                const file = e.target.files[0];
                if(file){
                    this.imageUrl = URL.createObjectURL(file);
                    this.$emit('getImage', file);
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    #file-component-input
    {
        display: none;
    }
    .component-preview{
        width: 142px;
        height: 144px;
        border: 1px solid #c4c4c4;
        line-height:140px;
        text-align: center;
        
        .image-component-preview
        {
            cursor: pointer;
            max-width: 140px;
            max-height: 140px;
            
        }
        .div-component-preview{
            text-align:center;
            cursor: pointer;
            font-size: 60px;
            width: 140px;
            height: 140px;
            
            padding: 5px;
        }
        .foreground {
            cursor: pointer;
            background: #000000;
            height: 40px;
            position: relative;
            bottom: 40px;
            line-height: 42px;
            opacity: 0.6;
            font-size:20px;
            color: #d8d8d8;

        }
    }
    
   
</style>