

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-xl" 
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="editedObject">Edit Object {{editedObject.name}}</span>
            <span v-else>Create Object</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >
          <slot name="body">
            <div class="card-deck no-margin">
              <div class="card">
                
                <!-- <div  class="inputfile-box form-group">
                  <input type="file" name="file" id="file" class="inputfile"  ref="inputSingle" @change="onFileChange">
                  <label for="file" class="width-percent-100" @click="$refs.inputSingle.click()">
                    
                    <span class="file-button">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      Select File
                    </span>
                    <span id="file-name" class="file-box">{{uploadFileName}}</span>
                  </label>
                </div> -->

                <div class="form-group">
                  <label for="displayName">Old version </label>
                  <File :src="formData.assetBundle"  v-on:getFile="onFileChange"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2018 </label>
                  <File :src="formData.versionAssetBundle.v2018.assetBundle" :extra="'v2018'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2019 </label>
                  <File :src="formData.versionAssetBundle.v2019.assetBundle" :extra="'v2019'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2020 </label>
                  <File :src="formData.versionAssetBundle.v2020.assetBundle" :extra="'v2020'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Display Name </label>
                  <input id="displayName" name="displayName" v-model="formData.displayName" type="text" placeholder="Display name" 
                    class="form-control" 
                   >
                    <!-- <span class="errors" v-if="errors.has('displayName')">{{errors.first('displayName')}}</span> -->
                </div>

                <div class="form-group">
                  <label for="keyname">Key name *</label>
                  <input id="keyname" type="text" name="keyname" v-model="formData.name" placeholder="key name"
                    class="form-control" v-bind:class="{ errors: errors.has('keyname')  }" v-validate="'required'">
                    <span class="errors" v-if="errors.has('keyname')">{{errors.first('keyname')}}</span>
                </div>

                <div class="form-group">
                  <label for="sku">SKU</label>
                  <input id="sku" type="text" name="sku" v-model="formData.sku" placeholder="Sku"
                    class="form-control">
                   
                </div>

                <div class="form-group">
                  <label for="brand">Brand</label>
                  <select id="brand" name="brand" v-model="formData.brand"  v-validate="'required'"
                   class="form-control" v-bind:class="{ errors: errors.has('brand')}">
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                  </select>
                  <span class="errors" v-if="errors.has('brand')">{{errors.first('brand')}}</span>
                </div>

                <div class="form-group">
                  <label for="category">Category</label>
                  <select id="category" name="category" v-model="formData.category" v-validate="'required'"
                  class="form-control" v-bind:class="{ errors: errors.has('category') }">
                    <option v-for="item in categories" :value="item.code">
                      <span v-if="item.parent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--------| &nbsp;</span>{{ item.name}} [{{item.code}}]
                    </option>
                  </select>
                  <span class="errors" v-if="errors.has('category')">{{errors.first('category')}}</span>
                </div>

                <div class="form-group">
                  <label for="name">Status</label>
                  <select id="status" name="status" class="form-control" v-model="formData.status">
                      <option></option>
                      <option v-for="(item, index) in status" :value="index">
                        {{ item}}
                      </option>
                  </select>
                </div>
                
              </div>


              <div class="card">
                <div class="form-group">
                  <!-- <label for="image">Upload Thumb: &nbsp;</label>
                  <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" @change="onImageChange" />
                  <div class="preview">
                    <img v-if="imageUrl" :src="imageUrl" />
                  </div> -->
                  
                  <UploadImage :src="imageUrl" v-on:getImage="childFromParent"/>
                </div> 


                <div class="form-group">
                  <label for="brand">ATTRIBUTES</label>
                </div>
                <div class="clearfix">

                   <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isTTS"
                          id="isTTS"
                          v-model="formData.attributes.isTTS"
                        >
                        <label for="isTTS" class="custom-control-label">is TTS</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isCarpet"
                          id="isCarpet"
                          v-model="formData.attributes.isCarpet"
                        >
                        <label for="isCarpet" class="custom-control-label">is Carpet</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="putable"
                          id="putable"
                          v-model="formData.attributes.putable"
                        >
                        <label for="putable" class="custom-control-label">Putable</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="hangable"
                          id="hangable"
                          v-model="formData.attributes.hangable"
                        >
                        <label for="hangable" class="custom-control-label">Hangable</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isDecor"
                          id="isDecor"
                          v-model="formData.attributes.isDecor"
                        >
                        <label for="isDecor" class="custom-control-label">Is Decor</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isCommon"
                          id="isCommon"
                          v-model="formData.isCommon"
                        >
                        <label for="isCommon" class="custom-control-label">Is Common</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="canScale"
                          id="canScale"
                          v-model="formData.attributes.canScale"
                        >
                        <label for="canScale" class="custom-control-label">Can Scale</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="canArray"
                          id="canArray"
                          v-model="formData.attributes.canArray"
                        >
                        <label for="canArray" class="custom-control-label">Can Array</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="canCook"
                          id="canCook"
                          v-model="formData.attributes.canCook"
                        >
                        <label for="canCook" class="custom-control-label">Can Color</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="canDelete"
                          id="canDelete"
                          v-model="formData.attributes.canDelete"
                        >
                        <label for="canDelete" class="custom-control-label">Can Delete</label>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="hookable"
                          id="hookable"
                          v-model="formData.attributes.hookable"
                        >
                        <label for="hookable" class="custom-control-label">Hookable</label>
                    </div>

                     <div class="custom-control float-left width-percent-50">
                        <label v-if="!formData.attributes.hookable">&nbsp;</label>
                        <select v-if="formData.attributes.hookable" id="anchor" name="anchor" v-model="formData.attributes.anchor" class="form-control" >
                          <option value="wall">Wall</option>
                          <option value="ceiling">Ceiling</option>
                        </select>
                    </div>

                    <div class="custom-control custom-checkbox float-left width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isLight"
                          id="isLight"
                          v-model="formData.attributes.isLight"
                        >
                        <label for="isLight" class="custom-control-label">Is Light</label>
                    </div>

                    <div class="custom-control float-left width-percent-50">
                        <label v-if="!formData.attributes.isLight">&nbsp;</label>
                        <select v-if="formData.attributes.isLight" id="lightType" name="lightType" v-model="formData.attributes.lightType" class="form-control" >
                          <option value="line">Line</option>
                          <option value="spot">Spot</option>
                          <option value="point">Point</option>
                        </select>
                    </div>
                </div>
                  
                
                
              </div>

              
              
            </div>  

          </slot>
        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import {ApiUploadObjectAssetBundle, ApiUploadObjectThumb, ApiObjects, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import File from "../../../components/Partials/File";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['editedObject', 'categories', 'brands'],
    components: {
      UploadImage,
      File
    },
    data() {
      return {
        formData : {
          attributes : {
            isTTS: false
          },
          versionAssetBundle : {
            v2018 :{
              assetBundle: null
            },
            v2019 :{
              assetBundle: null
            },
            v2020 :{
              assetBundle: null
            }
          }
        },
        status: STATUS_LIST,
        image:null,
        imageUrl: null,
        uploadFileName: null,
        file: {
          "v2018" :null,
          "v2019" :null,
          "v2020" :null
        },
        fileSingle: null,
        category:null,

        brand: null,
        currentObject: null,
        sku: null
      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {
        if (this.editedObject){
          this.initEditedObject();
        }
      },

      initEditedObject(){
        let object = this.editedObject;
        this.formData = Object.assign(this.formData, object);
        this.uploadFileName = object.assetBundle;
        this.imageUrl = object.thumbUrl;
      },

      

      onFileChange(arg) {
        this.fileSingle = arg;
        //  const file = e.target.files[0];
        //  if(file){
        //    this.uploadFileName = file.name;
        //    this.fileSingle = file;
        // }
        
      },
      // onImageChange(e) {
      //   const file = e.target.files[0];
  
      //   if(file){
      //     this.imageUrl = URL.createObjectURL(file);
      //     this.image = file;
      //   }
        
      // },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.editedObject){
              this.saveEdit();
            }
            else{
              this.saveCreate();
            }

          }
        });
        
      },
      
      saveCreate(){
          let urlCreate = `${ApiObjects}`; 
          let urlUploadAsset = `${ApiUploadObjectAssetBundle}`; 

          apiCall('post', urlCreate, this.formData).then(res => {
                let arrayPromise = [];

                if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadAsset, formData));
                }

                let arraykeys = Object.keys(this.file);
                let files = this.file;
                let thisformData = this.formData;
                arraykeys.forEach(function(key){
                   let file = files[key];
                   if (file){
                      let formData = new FormData();
                      formData.append('file', file);
                      formData.append('name', thisformData.name);
                      arrayPromise.push(apiBinaryPost(urlUploadAsset, formData, {headers : {Version: key}}));
                   }

                });
                if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadObjectThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
                }
                 Promise.all(arrayPromise)
                        .then(res => { 
                            console.log("upload res: ", res);
                            this.currentObject = res[0].data || null;
                            this.close();
                        }).catch(error => {
                            console.log('upload err',error);
                        });


             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      saveEdit(){
          let urlUpdate = `${ApiObjects}/${this.editedObject.name}`; 
          let urlUploadAsset = `${ApiUploadObjectAssetBundle}`; 
         
          apiCall('put', urlUpdate, this.formData).then(res => {
                let arrayPromise = [];

                if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadAsset, formData));
                }
                
                let arraykeys = Object.keys(this.file);
                let files = this.file;
                let thisformData = this.formData;
                arraykeys.forEach(function(key){
                   let file = files[key];
                   if (file){
                      let formData = new FormData();
                      formData.append('file', file);
                      formData.append('name', thisformData.name);
                      arrayPromise.push(apiBinaryPost(urlUploadAsset, formData, {headers : {Version: key}}));
                   }

                });
                
              
                if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadObjectThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('name', this.formData.name);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
                }
                if (arrayPromise.length){
                  Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.currentObject = resPromise[0].data.data || null;
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
                }else{
                    console.log("done Editing: ", res);
                    this.currentObject = res.data.data || null;
                    this.close();
                }
                 


             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      close() {
        this.url = null;
        this.uploadFileName = null;
        
        this.$emit('closeChild');
        if(this.currentObject){
          this.$emit('childObjectToParent', this.currentObject);
        }
      },

      childFromParent(arg){
        this.image = arg;
      },

      getFileFromChild(arg, version){  
        this.file[version] = arg;
      }
    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>