<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>Texture Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save 
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        Basic Info
      </div>
      <div class="card p-5">
        <div class="form-group">
          <UploadImage :src="form.url" v-on:getImage="childFromParent"/>
        </div>  

        <div class="form-group">
          <label for="name">NAME</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name"
            />
        </div>

        <div class="form-group">
          <label for="name">DESCRIPTION </label>
            <input
              type="text"
              v-model="form.description"
              class="form-control"
              id="description" name="description"
              placeholder="Description"
            />
        </div>



        <div class="form-group">
          <label for="name" class="mr-4">ITEM ID:- </label> 
           <span>{{form._id}}</span>
        </div>


      </div>
    </div>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiTextures, ApiUploadTextureThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';


Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage
  },
  mounted() {

  },
  data() {
    return {
      form : {
      },
      isEdit : false,
      image: null,

    };
  },


  created() {
    this.$emit('showLoading', false);
    let texture_id = get(this.$route, "params.id", 0);
    if(texture_id && texture_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(texture_id);
    }
    
  },
  methods: {
    async getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiTextures}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
          console.log(this.form.name);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'Texture'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiTextures}/${this.form._id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadTextureThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiTextures}`; 
          apiCall('post', url, this.form).then(res => {  
              let texture = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadTextureThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', texture._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(texture);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(texture);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(texture){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'TextureDetail', params: { id: texture._id }});
        this.getData(texture._id);
    }


  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

    
  }
 
</style>