<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Textures Management</h2>
      <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="showAddTexture()">
          <i class="fa fa-plus"></i> New Texture
        </button>
    </div>
    <div class="d-flex"> 
      <div class="content-body pl-0 pr-0" >
        <div class="width-500 texture-group">
          <div class="d-flex justify-content-between">
            <p>Texture Groups</p>
            <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="showAddTextureGroup()">
              <i class="fa fa-folder"></i> New
            </button>
          </div>
          <tree-folder
            class="item"
            :items="textureGroups"
            v-on:selectItemChild="itemAtParent"
            v-on:editItemChild="showEditTextureGroup"
            :parentSelected="currentSelected"
          ></tree-folder>
        </div>
      </div> 
      <div class="content-body pl-0 pr-0" style="width:100%">
        <v-server-table  ref="table"
        :columns="['url', 'name', 'action']"
        :options="options" class="cms-table cms-table-ticket">
          
          <template slot="url" slot-scope="props" class="col-status text-center" >
            <img class="max-height-75" v-bind:src="props.row.url"/>
              
          </template>
          
          <template slot="name" slot-scope="props" class="col-status text-center" >
            <span class="badge-cms">
              <b>{{ props.row.name }}</b>
            </span>
          </template>
          <template slot="action" slot-scope="props">
            <div>
              <button class="btn btn-xs mr-1" @click.prevent="showEditTexture(props.row)"
              v-tooltip.bottom="{
                content: 'Edit Texture',
                loadingContent: 'Please wait...',
                loadingClass: 'content-is-loading',
              }"
              >
                <i class="far fa-edit"></i>
              </button>
              <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
              v-tooltip.bottom="{
                content: 'Delete Texture',
                loadingContent: 'Please wait...',
                loadingClass: 'content-is-loading',
              }"
              >
                <i class="fa fa-trash"></i>
              </button>
              
              <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
                <i class="far fa-trash-alt"></i>
              </button> -->
            </div>
          </template>
        </v-server-table>
      </div>
    </div>
    
    
    <Modal
      v-on:childToParent="onCloseTextureModal"
      v-on:closeChild="closeModal"
      v-if="openModalTextureState"
      :texture="editingTexture"
      :groups="rebuildTextureGroups"
    />

    <ModalGroup
      v-on:childToParent="onCloseTextureGroupModal"
      v-on:closeChild="closeModal"
      v-if="openModalTextureGroupState"
      :groups="rebuildTextureGroups"
      :group="editingTextureGroup"
    />


  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiTextures, ApiTextureGroups, ApiUploadTextureThumb, ApiUploadTextureGroupThumb} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import apiBinaryPost from "../../helpers/apiBinaryPost";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import Modal from "./Modal/AddEdit.vue";
import ModalGroup from "./Modal/AddEditGroup.vue";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import TreeFolder from "../../components/Partials/TreeFolder";

Vue.use(VTooltip)
Vue.use(ServerTable);


export default {
  components: {
    ServerTable,
    Status,
    TreeFolder,
    Modal,
    ModalGroup
  },
  mounted() {

  },
  data() {
    return {
  
      textures: [],
      textureGroups: [],
      rebuildTextureGroups: [],
      options: {
        filterable: false,
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiTextures}?${queryString}`;
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) {    
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null,
          group_id: null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "url" : "Image",
           "name" : "Name"
        },
        sortable : ['name'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          url: "width-150",
          action: "width-150"
        },
      },
      isDeleting: false,
      openModalTextureState: false,
      editingTexture: null,
      openModalTextureGroupState: false,
      editingTextureGroup: null,
      currentSelected: null
    };
  },
  created() {
    //this.getData();
    this.getDataGroup();
  },
  methods: {
    onReload(){
      this.$refs.table.refresh();
    },
    getData(){
        this.$emit('showLoading', true)
        let url = `${ApiTextures}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.textures =  get(res.data, "data.list", []);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    getDataGroup(){
        this.$emit("showLoading", false);
        let url = `${ApiTextureGroups}`;
        apiCall("get", url).then(res => {
         
          let data =  get(res.data, "data.list", []);
          this.textureGroups = data;
          let temp = [];
          temp = this.buildTree(data, temp, 0);
          this.rebuildTextureGroups = temp;
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    buildTree(data, temp, level ){
      for(let i=0; i< data.length; i++){
        let raw_gr = data[i];
        let gr = {
          _id: raw_gr._id,
          name: raw_gr.name,
          imageUrl: raw_gr.imageUrl,
          level : level,
          isOpen: false
        }
        temp.push(gr);
        if(raw_gr.children && raw_gr.children.length){
          this.buildTree(raw_gr.children, temp, level + 1);
        }
      }
     
      return temp;
    },

    showAddTexture() {
        this.openModalTextureState = true;
    },
    showEditTexture(row) {
        this.editingTexture = row;
        this.openModalTextureState = true;
    },

    showAddTextureGroup() {
        this.openModalTextureGroupState = true;
    },
    showEditTextureGroup(row) {

        this.editingTextureGroup = row;
        this.openModalTextureGroupState = true;
    },


    handleAdd(){
      this.$router.push({ name: 'TextureDetail', params: { id: 0 }});
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Texture " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiTextures + '/' + row._id)
            .then(res => {
              
              swal("Delete succeeded!", {
                icon: "success"
              });
              this.$emit('showLoading', false);
             
              this.onReload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        
      });
    },

    reload() {
       this.onReload();
    },

    reloadGroup() {
       this.getDataGroup();
    },

    edit(row) {
         this.$router.push({ name: 'TextureDetail', params: { id: row._id }});
    },

    closeModal() {
      this.openModalTextureGroupState = false;
      this.openModalTextureState = false;
      this.editingTexture = null;
      this.editingTextureGroup = null;
    },

    onCloseTextureModal(value) {
      this.editingTexture = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    },
    onCloseTextureGroupModal(value) {
      this.editingTextureGroup = null;
      if (value) {
        toast.success("Success");
        this.reloadGroup();
      }
    },

    itemAtParent(value){
      this.currentSelected = value;
      this.options.params.group_id = this.currentSelected;
      this.$refs.table.refresh();
    }
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
  .texture-group{
    padding: 10px 10px 10px 10px;
    border: 1px solid #c4c4c4;
  }
  .cms-table{
    padding: 10px 10px 10px 10px;
  }
</style>