.search-top {
    margin-bottom: 0;
    margin-bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  
    .form-control {
      padding-left: 2.375rem;
    }
  
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 35px;
      line-height: 30px;
      text-align: center;
      pointer-events: none;
      color: #aaa;
  
      &::before {
        font-size: 16px;
      }
    }
}

.card-deck{
  &.card-flex-column{
      flex-flow: column;
      .cms-card{
          flex: none;
          .card-ico{
            width:50%;
            float:left;     
        }
      }
  }
}
/** Avatar  **/
.thumbnail-avatar {
  margin-right: 5px;
  .txt-avatar, img {
    display: inline-block;
    float: left;
  }

  .txt-avatar {
    margin-right: 10px;
    font-size: 13px;
    padding-top: 15px;

    strong {
      display: block;
      line-height: 8px;
    }

    label {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 10px;
    }
  }

  img {
    border-radius: 50%;
    max-width: 40px;
  }
  .icon-arrow-down{
    padding-left: 10px;
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
  }
}

/** Search **/
#search-wrap {
  margin:13px 10px 12px 0;
  position: relative;
  width: 100%;
  padding: 0;
  position: relative;
  width: 700px;
  input{
    &:hover,&:visited,&:active,&:focus{
      outline:none;
    }
  }
  .icon-magnifier {
    color: #fff;
    padding: 5px;
  }
  input {
    &[type="text"] {
      font-size: 16px;
      display: inline-block;
      font-weight: 100;
      border: none;
      outline: none;
      color: #fff;
      padding: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      z-index: 3;
      transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
      cursor: pointer;
      margin-left: 25px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:focus {
        background: transparent;
        z-index: 1;
        cursor: text;
      }
      @media(min-width:768px){
        width: 600px;
      }
    }

    &[type="submit"] {
      border: none;
      transition: opacity .4s ease;
      background: transparent;
      opacity: 1;
      cursor: pointer;
      display: inline-block;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  .icon-close{
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    height: 35px;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    display: block;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    &::before{
      content:"\F00D";
    }
  }
  input[type="text"]:focus-within,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="text"]:visited,
  input[type="text"]:hover
   {
    + .icon-close{
      opacity: .7;
         visibility: visible;
         transition: opacity .5s, visibility .5s;
    }
  }
}


.btn.btn-search{
  background: transparent;
  color: #fff;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 0;
}

.topnavbar .navbar-nav > .nav-item.dropdown-account > .nav-link {
  padding: 7px 5px;
}
.topnavbar em.fas,.topnavbar em.fa{
  font-size:16px
}

/****/
.toasted-container{
  &.cms-toasted{
    &.top-right {
      top: 15px;
      right: 15px;
    }
  }
}

/** Btn dropdown  **/
.btn-dropdown{
  &.btn-dropdown-more {
    position: absolute;
    right: 0;
    font-size: 16px;
  
    .dropdown {
      .dropdown-menu{
        width:150px;
        min-width:150px;
        padding:0;
        &.show {
          .dropdown-item{
            font-family: "Source Sans Pro", sans-serif;
            color:#333;
            padding:5px 10px;
            &:hover{
              color: #5d9cec;
              background:transparent;
            }
          }
        }
      }
      .dropdown-toggle {
        color: #656565;
        padding: 10px;
        &:after {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: "\F142";
          border-right: none;
          border-left: none;
          border-top: none;
        }
      }
    }
  
  }
}

.nav-link{
  &.link-txt{
    color:#081526;
    font-weight:bold;
    &:hover{
      color: #5d9cec;
    }
  }
}

.cursor-pointer{
  cursor:pointer;
}
.width-50 {
  width:50px;
}
.width-200 {
  width:200px;
}

.width-percent-10 {
  width:10%;
}
.width-percent-20 {
  width:20%;
}
.width-percent-25 {
  width:25%;
}
.width-percent-30 {
  width:30%;
}
.width-percent-33 {
  width:33%;
}

.width-percent-40{
  width:40%;
}

.width-percent-50 {
  width:50%;
}
.width-percent-100 {
  width:100%;
}


.max-height-100 {
  max-height:100px;
}

.max-height-75 {
  max-height:75px;
}
.height-75{
  height:75px;
}

.max-width-100 {
  max-width:100px;
}
.max-width-200 {
  max-width:200px;
}
.max-width-250 {
  max-width:250px;
}
.max-width-300 {
  max-width:300px;
}
.max-width-400 {
  max-width:400px;
}
.max-width-75 {
  max-width:75px;
}
.max-width-50 {
  max-width:50px;
}
.max-width-25 {
  max-width:25px;
}

.width-75 {
  width:75px;
}

.width-100 {
  width:100px!important;
}
.width-125 {
  width:125px!important;
}
.width-150 {
  width:150px!important;
}

.width-200 {
  width:200px!important;
}





.width-250 {
  width:250px;
}
.width-350 {
  width:350px;
}
.width-400 {
  width:400px;
}
.width-500 {
  width:500px;
}
.line-height-30{
  line-height:30px;
}

.no-margin{
  margin:0;
}

.errors {
  color:red;
  &input{
    border-color:red;
  }
}

button:disabled,
button[disabled]{
  opacity:0.3;
}

.btn-add {
  border-radius: 25px!important;
  padding: 10px;
  width:45px;
  height:45px;
}


/** ToolTip */
.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.search{
  padding-bottom:50px;
  position:relative;
  button {
    width:50px;
    position:relative;
    right:50px;
    font-size:14px;
    border:1px solid #e4e4e4;
  }
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
//CKEDITOR
.ck-editor__editable_inline {
  min-height: 200px;
}

//VUE SERVER TABLE
.VueTables--server table thead {
  color: white!important;
  background: black;
}
.VueTables--server table thead .VueTables__heading{
  color: white!important;
}

//RA AU
.content-body > .title {
  font-size: 20px;
}
.status-class {
  font-weight: bold;
  color: white;
  border-radius:15px;
  padding:5px 10px 5px 10px;
  background: #5d9cec;
}
.status-text {
  font-weight:bold;
  text-transform:capitalize;
  &.status-active{color: #009900 };
  &.status-archive{color: #FF3366};
  &.status-draft{color: #FF9900};
}

.assisted-button{
  padding: 10px 15px 10px 15px;
  border: 1px solid #949494;
  background-color: #fff;
  color: #646464;
  font-size: 15px;
  i {
    line-height:30px;
    padding:10px;
  }
  .top1{
    text-align: left;
    margin-bottom:0;
  }
  .bottom1{
    margin-bottom:0;
  }
  &:hover{
    opacity: 0.65;
  }
}

.word-wrap-break-word{
  word-wrap: break-word;
}