.issues-wp {
    background: #fff;
    .fas{
        padding-right:5px;
        &:before{
            font-size:10px;
        }
    }
}
.cms-card{
    &.card {
        .card-header{
            position: relative;
            h5{
                text-transform: uppercase;
            }
            /*Custom Dropdown*/
            .btn-dropdown
            {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1;
                -ms-flex: 1 0 0%;
                flex: 1 0 0%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: row-reverse;
                position: absolute;
                top:0;
                right: 0;
                a{
                    display:inline-block;
                    vertical-align: middle;
                }
                .fa{
                    &:before {
                        vertical-align: sub;
                    }
                    .btn-group.dropdown{
                        position: absolute;
                        left: 0;
                        right: 0;
                        .dropdown-item{
                            font-family: "Source Sans Pro", sans-serif;
                        }
                    }
                }
            }
        }
    }
    &.height-100vh{
        @media (min-width: 576px){
            height: 100vh;
        }
    }
    &.draggeble-card {
        .card-body{
            padding: 0 5px;
        }
        background: #f5f7fa;
        .card-box-item {
          padding: 5px 10px;
          background: #fff;
          border-radius: 4px;
          margin-bottom: 15px;
          border-radius: 3px;
          box-shadow: 0 1px 3px rgba(9, 30, 66, 0.15);
          position: relative;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          &:hover{
            i{color: #5d9cec;}
            box-shadow: 0 3px 3px rgba(9, 30, 66, 0.3);
          }
          .btn-ico {
            position: absolute;
            right: 0;
            top: 0;
            bottom:0;
            vertical-align: middle;
            border: none;
            background: transparent;
            cursor: pointer;
            .far{
                font-size: 11px;
            }
          }
      
          .label-type {
            margin-right: 5px;
            margin-bottom: 0;
            text-transform: uppercase;
          }
        }
      
        .card-box-header {
            position: relative;
        //   border-bottom: 1px solid #e6e6e6;
        //   padding-top: 5px;
        //   padding-bottom: 10px;
        }
      
        .card-box-txt {
          padding-top: 10px;
          margin-bottom:0;
            li{list-style: none;}
            p {
                margin-bottom: 0;
            }
      
            label {
                color: #b5b5b5;
                margin-right: 5px;
                text-transform: capitalize;
                @media(min-width:1024px){width: 30%;}
            }

            span{
                color:#333;
            }
        }
    }
}

/** Progress **/
.card-box {
    background-color: #fff;
    cursor: pointer;
    display: block;
}

#modal-tickets{
    h2 {padding-bottom: 15px;}
    .modal-header{
        border-bottom: none;
        padding: 0;
    }
    &.modal.show {
        // .modal-dialog{
        //     max-width: 90%;
        // }
        .modal-body {
            padding: 0;
        
            .col-l, .col-r {
              padding: 30px 15px;
            }
        
            .col-l {
              background-color: #f5f7fa;
              border-radius: 4px 0 0 4px;
            }
        }
    }
}

.form-tickets {
    padding-top:10px;
    .card-deck{
        margin:15px 0;
        @media(min-width:768px){
            overflow-y: scroll;
            height: 480px;
        }
    }
    .card.cms-card
    {
        border:1px solid #eee;
        margin-left:0;
        margin-right:0;
        margin-bottom: 15px;
    }
    &.form-tickets-search {
        .title-line h3{
            font-size: 16px;
        }
        .cms-card.card{
            margin-bottom: 15px;
            .card-ico{
                width:50%;
                float:left;
                i{
                    width: 15px;
                    &::before{
                        font-size: 14px;
                    }
                }        
            }
            .card-header .btn-dropdown{
                padding-bottom: 30px;
                margin-right: -5px;
            }
            .card-txt span{
                font-weight:bold;
            }
        }
    }       
}

.cms-table{
    &.cms-table-ticket {
        .table > {
            thead > tr > th {
                padding: 6px 10px;
            }
            tbody > tr > td {
              padding: 5px 10px;
              &:last-child{
                  width:5%;
                  text-align: center;
                }
            }
        
            thead > tr > th .VueTables__sort-icon {
              display: none;
              visibility: hidden;
              opacity: 0;
            }
          }
    }
}