.modal-fade-enter,
.modal-fade-leave-to {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: all .01s;
}

.modal-backdrop {
    position: fixed;
    opacity:1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin:auto;
    margin-top:60px;
    margin-bottom:40px;

    .modal-header,
    .modal-footer {
        padding: 8px 12px 8px 12px;
        display: flex;
        
    }

    &.modal-sm {
        width: 40%;
        max-width: none;
    }

    &.modal-xl {
        width: 60%;
    }

    .modal-header {
        border-bottom: 1px solid #eeeeee;
        height:50px;
        font-size:18px;
        justify-content: space-between;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
        padding-top: 10px;
        padding-bottom: 10px;
        height:52px;
        > button {
            cursor:pointer;
            width: 13%;
            height: 100%;
            margin-left:10px;
        }

        > div {
            &.left , &.right{
                width:50%;
                height:100%;
                padding:0;
            }
            &.right{
                display:flex;
                justify-content:flex-end;
            }
            > button {
                cursor:pointer;
                width: 26%;
                height: 100%;
                margin-left:10px;
            }
        }
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
        overflow:auto;
    }

    .btn-close {
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
    }

    .btn-green {
        color: white;
        background: #4AAE9B;
        border: 1px solid #4AAE9B;
        border-radius: 2px;
    }

    .btn-grey {
        color: white;
        background: #c4c4c4;
        border: 1px solid #000000;
        border-radius: 2px;
    }
    .btn-white {
        color: black;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
    }
    .btn-danger, .btn-info{
        border: 1px solid #000000;
        border-radius: 4px;
    }
    .btn-black {
        color: white;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 4px;
    }

    .preview{
        text-align:center;
        img {
            max-height: 150px;
        }
    }
}
