<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>ColorGroups Management</h2>
      <button class="btn btn-fprimary btn-add" @click="showModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="content-body pl-0 pr-0">
      <div class="form-group float-left">
        <select id="brand" name="brand" class="form-control" @change="onSelectBrand($event)">
                <option value="">Select Brand</option>
                <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                </option>
        </select>
      </div>

       <v-client-table :data="colorGroups" 
       :columns="['hex', 'brand', 'name','code', 'action']"
      :options="options" class="cms-table">
        
        <template slot="hex" slot-scope="props" class="col-status text-center" >
          <div class="max-width-75" v-bind:style="{'background':'#' + props.row.hex }">&nbsp;</div>
            
        </template>
        <template slot="brand" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.brand }}</b>
          </span>
        </template>
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit ColorGroup',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete ColorGroup',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            
          </div>
        </template>
      </v-client-table>
      
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :colorGroup="editingColorGroup"
      :brands="brands"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiColorGroups , ApiColorBrands} from "../../config";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from "sweetalert";

import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";

Vue.use(VTooltip);
Vue.use(ClientTable);

export default {
  components: {
    ClientTable,
    Modal
  },
  mounted() {},
  data() {
    return {
      colorGroups: [],
      brands: [],
      isDeleting: false,
      openModalState: false,
      editingColorGroup: null,
      params :{
        brand: null
      },
      options: {
        perPage: 20,
        pagination: { chunk: 5 },
        headings: {
           "imageUrl" : "Thumb"
          
        },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        sortable: ['name', 'brand'],
        columnsClasses: {
          hex : "line-height-30",
          imageUrl: "width-100",
          action: "width-100"
        }
        
      },
    };
  },
  created() {
    this.initColorBrands();
    this.getData();
  },
  methods: {
    initColorBrands() {
      let url = `${ApiColorBrands}`;
      apiCall("get", url)
        .then(res => {
          this.brands = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },
    getData() {
      
      this.$emit("showLoading", true);
      //let url = `${ApiColorGroups}?page=${this.currentPage + 1}&per_page=${this.limit}`;
      let url = `${ApiColorGroups}`;

      url = this.buildUrl(url);
      console.log(url);
      apiCall("get", url)
        .then(res => {
          this.$emit("showLoading", false);
          this.colorGroups = get(res.data, "data.list", []);
          
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "ColorGroup " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiColorGroups + "/" + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.getData();
    },

    edit(row) {
      this.editingColorGroup = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingColorGroup = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingColorGroup = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    },

    onSelectBrand(event){
      let value = event.target.value;
      console.log(value);
      this.params.brand = value;
      this.getData();
      
    },

    buildUrl(url){
      let params = this.params;
      var queryString = Object.keys(params).map(function(key) {
          if(params[key]){
            return key + '=' + params[key]
          }
          
      }).join('&');
      console.log(queryString);
      return url + '?' + queryString;
    }
  }
};
</script>
<style lang="scss" scope>
.content-wrapper {
  &.profile-wp {
    background-color: #fff;
  }
}
</style>