<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>Plan Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save 
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        Basic Info
      </div>
      <div class="card p-5">
        <div class="form-group">
          <UploadImage :src="form.imageUrl" v-on:getImage="childFromParent"/>
        </div>  

        <div class="form-group">
          <label for="name">NAME *</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div class="form-group">
          <label for="status">BUILDER</label>
          <select id="builder" name="builder" class="form-control" v-model="form.builder_id">
              <option></option>
              <option v-for="(item, index) in builders" :value="item._id" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <label for="status">STATUS</label>
          <select id="status" name="status" class="form-control" v-model="form.status">
              <option></option>
              <option v-for="(item, index) in list_status" :value="item.value" :key="index">
                      {{ item.name}}
              </option>
          </select>
        </div>



        <div class="form-group">
          <label for="name" class="mr-4">ITEM ID:- </label> 
           <span>{{form._id}}</span>
        </div>


      </div>
    </div>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiPlans, ApiBuilders, ApiUploadPlanThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';


export const LIST_STATUS = [
  { name : "Pending", value: 'pending' },
  { name : "Active", value: 'active' },
  { name : "Archive", value: 'archive' },
  { name : "Draft", value: 'draft' }
]

Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage
  },
  mounted() {

  },
  data() {
    return {
      form : {
      },
      list_status : LIST_STATUS,
      isEdit : false,
      image: null,
      builders: []
    };
  },


  created() {
    this.$emit('showLoading', false);
    let plan_id = get(this.$route, "params.id", 0);
    if(plan_id && plan_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(plan_id);
    }
    this.getBuilders();
  },
  methods: {
    getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiPlans}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    getBuilders(){
        this.$emit('showLoading', true)
        let url = `${ApiBuilders}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.builders = get(res.data, "data.list", []);     
          
        })
        .catch(error => {
          console.error(error);
        });
    },
   
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'Plan'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiPlans}/${this.form._id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadPlanThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiPlans}`; 
          apiCall('post', url, this.form).then(res => {  
              let plan = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadPlanThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', plan._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(plan);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(plan);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(plan){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'PlanDetail', params: { id: plan._id }});
        this.getData(plan._id);
    }


  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

    
  }
 
</style>