

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="version">Edit Version {{version.version}}</span>
            <span v-else>Create Version</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group" v-if="!version">
                <File :src="formData.url" v-on:getFile="getFileFromChild"/>
              </div>  

              <div class="form-group">
                <label for="phone">Brand</label>
                <select id="brand" name="brand" class="form-control" v-model="formData.brand" v-bind:disabled="version">
                    <option value=""></option>
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="name">version *</label>
                <input v-bind:disabled="version"
                  type="text"
                  v-model="formData.version"
                  class="form-control"
                  id="version" name="version"
                  placeholder="Version" v-bind:class="{ errors: errors.has('version')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('version')">{{errors.first('version')}}</span>
              </div>

              <div class="form-group">
                  <label for="name">Status</label>
                  <select id="status" name="status" class="form-control" v-model="formData.status">
                      
                      <option v-for="(item, index) in status_list" :value="index">
                        {{ item}}
                      </option>
                  </select>
                </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="force_update"
                          id="force_update"
                          v-model="formData.force_update"
                        >
                        <label for="force_update" class="custom-control-label">Force Update</label>
                </div>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea 
                  type="text"
                  v-model="formData.description"
                  class="form-control"
                  id="description"
                  placeholder="Say something here ..."
                  name="description"
                  rows=5
                 
                ></textarea>
                
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiUploadVersion, ApiEditVersion, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import File from "../../../components/Partials/File";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['brands', 'version'],
    components : {
      File
    },
    data() {
      return {
        formData : {
          status : 'pending'
        },
        status_list : STATUS_LIST,
        success: false,
        file: null
      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initVersion();
      },

       initVersion(){
         let version = this.version;
         this.formData = Object.assign(this.formData, version);
       },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          
          if(valid){
            if(this.version){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
       edit(){
           let url = `${ApiEditVersion}/${this.version._id}`; 
         
           apiCall('put', url, this.formData).then(res => {  
               console.log("done Editing: ", res);
               this.success = true; 
                this.close();
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiUploadVersion}`; 
          
          if(this.file){
              let formFile = new FormData();
            
              if(this.formData.brand){
                formFile.append('brand', this.formData.brand);
              }
              formFile.append('file', this.file);
              formFile.append('version', this.formData.version);
              formFile.append('description', this.formData.description);
              if(this.formData.force_update){
                formFile.append('force_update', this.formData.force_update);
              }
              apiBinaryPost(url, formFile).then(res => { 
                            this.success = true;
                            this.close();
                        }).catch(err => {
                            console.log('upload err',err);
                        });;
          }else{
              this.close(); 
          }  

      },


      close() {  
        this.$emit('closeChild');
        if(this.success){
          this.$emit('childToParent', this.success);
        }
      },

      getFileFromChild(arg){
        this.file = arg;
      }


    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>