<template>
    <ContentWrapper class="dashboard-wp">
        <div class="content-heading row clearfix">
            <h3>Overall</h3>
            <!-- <div class="ml-auto col-md-8">
                <div class="form-group search-top">
                    <span class="icon-magnifier form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div> -->
            
        </div>
        <div style="margin:100px; font-size:30px"><center>UNDER CONSTRUCTION</center></div>    
        <!-- START cards box-->
        
        <!-- END cards-->
    </ContentWrapper>
</template>


<script>
    import Vue from "vue";
    import VeeValidate from 'vee-validate';
    import { 
        ApiDashboard
    } from "../../config"; 
    import apiCall from "../../helpers/apiCall";
    import { get, concat } from "lodash";
    import swal from 'sweetalert';

    import VTooltip from 'v-tooltip';
    import toast from "../../helpers/toast";

    import EasyPieChart from 'easy-pie-chart';
    import Sparkline from '@/components/Common/Sparklines';
    import Scrollable from '@/components/Common/Scrollable'
    import FlotChart from '@/components/Charts/Flot';
    import VectorMap from '@/components/Maps/VectorMap';

    const defaultColors = {
        markerColor:  '#23b7e5',      // the marker points
        bgColor:      'transparent',  // the background
        scaleColors:  ['#878c9a'],    // the color of the region in the serie
        regionFill:   '#bbbec6'       // the base region color
    };

    const RegionValues = {
        'CA': 11100,   // Canada
        'DE': 2510,    // Germany
        'FR': 3710,    // France
        'AU': 5710,    // Australia
        'GB': 8310,    // Great Britain
        'RU': 9310,    // Russia
        'BR': 6610,    // Brazil
        'IN': 7810,    // India
        'CN': 4310,    // China
        'US': 839,     // USA
        'SA': 410      // Saudi Arabia
    }

    export default {
        name: 'Dashboard',
        components: {
            Sparkline,
            Scrollable,
            FlotChart,
            VectorMap
        },
        created() {
            //this.getOverall();
            //this.getNewestUsers();
            //this.getNewestFeedbacks();
        },
        methods: {
            getOverall(){
                let url = `${ApiDashboard.overall}`;
                apiCall("get", url)
                    .then(res => {                   
                        this.overall = Object.assign(this.overall, res.data.data);        
                    })
                    .catch(error => {
                    console.error(error);
                    });
            },
            getNewestUsers(){
                let url = `${ApiDashboard.newestUsers}`;
                apiCall("get", url)
                    .then(res => {                   
                        
                        this.newestUsers = Object.assign(this.newestUsers, res.data.data.list);   
                       
                    })
                    .catch(error => {
                    console.error(error);
                    });
            },
            getNewestFeedbacks(){
                let url = `${ApiDashboard.newestFeedbacks}`;
                apiCall("get", url)
                    .then(res => {                                     
                        this.newestFeedbacks = Object.assign(this.newestFeedbacks, res.data.data.list);   
                    })
                    .catch(error => {
                    console.error(error);
                    });
            }
        },
        data() {
            return {
                overall : {
                    objects_count : 0,
                    bundles_count : 0,
                    layouts_count : 0,
                    projects_count : 0,
                    published_objects_count : 0,
                    published_bundles_count : 0,
                    published_layouts_count : 0,
                    published_projects_count : 0
                },
                newestUsers : [],
                newestFeedbacks : [],
                itemsCard: [
                    { 
                    thumbnail: 'img/no-photo.png', 
                    user_name: 'Dickerson Macdonald', 
                    address: '', 
                    email: 'Macdonald@gmail.com', 
                    phone: '0906567456' 
                    }
                ],
                splineData: [{
                    "label": "Home",
                    "color": "#1ba3cd",
                    "data": [
                        ["1", 38],
                        ["2", 40],
                        ["3", 42],
                        ["4", 48],
                        ["5", 50],
                        ["6", 70],
                        ["7", 145],
                        ["8", 70],
                        ["9", 59],
                        ["10", 48],
                        ["11", 38],
                        ["12", 29],
                        ["13", 30],
                        ["14", 22],
                        ["15", 28]
                    ]
                }, {
                    "label": "Overall",
                    "color": "#3a3f51",
                    "data": [
                        ["1", 16],
                        ["2", 18],
                        ["3", 17],
                        ["4", 16],
                        ["5", 30],
                        ["6", 110],
                        ["7", 19],
                        ["8", 18],
                        ["9", 110],
                        ["10", 19],
                        ["11", 16],
                        ["12", 10],
                        ["13", 20],
                        ["14", 10],
                        ["15", 20]
                    ]
                }],
                splineOptions: {
                    series: {
                        lines: {
                            show: false
                        },
                        points: {
                            show: true,
                            radius: 4
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.5
                        }
                    },
                    grid: {
                        borderColor: '#eee',
                        borderWidth: 1,
                        hoverable: true,
                        backgroundColor: '#fcfcfc'
                    },
                    tooltip: true,
                    tooltipOpts: {
                        content: (label, x, y) => x + ' : ' + y
                    },
                    xaxis: {
                        tickColor: '#fcfcfc',
                        mode: 'categories'
                    },
                    yaxis: {
                        min: 0,
                        max: 150, // optional: use it for a clear represetation
                        tickColor: '#eee',
                        //position: 'right' or 'left',
                        tickFormatter: v => v
                    },
                    shadowSize: 0
                },

                // VectorMap
                series: {
                    regions: [{
                        values: RegionValues,
                        scale: defaultColors.scaleColors,
                        normalizeFunction: 'polynomial'
                    }]
                },
                markers: [
                    { latLng:[41.90, 12.45],  name:'Vatican City'          },
                    { latLng:[43.73, 7.41],   name:'Monaco'                },
                    { latLng:[-0.52, 166.93], name:'Nauru'                 },
                    { latLng:[-8.51, 179.21], name:'Tuvalu'                },
                    { latLng:[7.11,171.06],   name:'Marshall Islands'      },
                    { latLng:[17.3,-62.73],   name:'Saint Kitts and Nevis' },
                    { latLng:[3.2,73.22],     name:'Maldives'              },
                    { latLng:[35.88,14.5],    name:'Malta'                 },
                    { latLng:[41.0,-71.06],   name:'New England'           },
                    { latLng:[12.05,-61.75],  name:'Grenada'               },
                    { latLng:[13.16,-59.55],  name:'Barbados'              },
                    { latLng:[17.11,-61.85],  name:'Antigua and Barbuda'   },
                    { latLng:[-4.61,55.45],   name:'Seychelles'            },
                    { latLng:[7.35,134.46],   name:'Palau'                 },
                    { latLng:[42.5,1.51],     name:'Andorra'               }
                ],
                options: {
                    map: 'world_mill_en',
                    backgroundColor: defaultColors.bgColor,
                    zoomMin: 1,
                    zoomMax: 8,
                    zoomOnScroll: false,
                    regionStyle: {
                        initial: {
                            'fill': defaultColors.regionFill,
                            'fill-opacity': 1,
                            'stroke': 'none',
                            'stroke-width': 1.5,
                            'stroke-opacity': 1
                        },
                        hover: {
                            'fill-opacity': 0.8
                        },
                        selected: {
                            fill: 'blue'
                        },
                        selectedHover: {}
                    },
                    focusOn: {
                        x: 0.4,
                        y: 0.6,
                        scale: 1
                    },
                    markerStyle: {
                        initial: {
                            fill: defaultColors.markerColor,
                            stroke: defaultColors.markerColor
                        }
                    },
                    onRegionLabelShow: (e, el, code) => {
                        if (RegionValues[code])
                            el.html(el.html() + ': ' + RegionValues[code] + ' visitors');
                    }
                },

                selectedLanguage() {
                    switch(this.$i18n.i18next.language) {
                        case 'es': return 'Spanish'; break;
                        case 'en': default: return 'English';
                    }
                }
            }
        },
        mounted() {
             this.$emit("showLoading", false);
            // EasyPieChar
            let pieOptions1 = {
                 animate: {duration: 800, enabled: true},
                 barColor:"#23b7e5",
                 trackColor:"rgba(200,200,200,0.4)",
                 scaleColor:false,
                 lineWidth:10,
                 lineCap:'round',
                 size:145
            };
          //  new EasyPieChart(this.$refs.easypiechart, pieOptions1);
        }
        // methods: {
        //     changeLanguage (lang) {
        //         this.$i18n.i18next.changeLanguage(lang);
        //     }
        // }

    }

</script>
<style lang="scss" scoped>
    .bg-info-object{
        background-color: #7e7777 !important;
        color: #ffffff;
    }
    
    .bg-info-bundle{
        background-color: #f17833f5 !important;
        color: #ffffff;
    }

    .bg-info-project{
        background-color: #4980fd !important;
        color: #ffffff;
    }
</style>