<template>
  <ContentWrapper class="content-detail">
    <div class="content-heading justify-content-between ">
      <h2>TenantUser Detail</h2>
      <div class="row">
        <button class="btn mr-2" @click="handleCancel()">
          Cancel
        </button>
        <button :disabled="$store.state.isSaving" class="btn btn-fprimary" @click="handleSave()">
          Save 
        </button>
      </div>
      
    </div>

    <div class="content-body profile-form">
      <div class="title mb-2">
        General Info
      </div>
      <div class="card p-5"> 

        <div class="form-group">
          <label for="name">NAME *</label>
            <input
              type="text"
              v-model="form.name"
              class="form-control"
              id="name" name="name"
              placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div class="form-group">
          <label for="name">EMAIL *</label>
            <input
              type="text"
              v-model="form.email"
              class="form-control"
              id="email" name="email"
              placeholder="email" v-bind:class="{ errors: errors.has('email')  }" v-validate="'required'"
            />
          <span class="errors" v-if="errors.has('email')">{{errors.first('email')}}</span>
        </div>

        <div v-if="!form._id && !form.auth_id" class="form-group">
                <label for="name">Password *</label>
                <input
                  type="password"
                  :disabled="user"
                  v-model="form.password"
                  class="form-control"
                  id="password" name="password"
                  placeholder="Password" v-bind:class="{ errors: errors.has('password')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('password')">{{errors.first('password')}}</span>
              </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="active"
                          id="active"
                          v-model="form.active"
                          :true-value="1"
                          :false-value="0"
              >
              <label for="active" class="custom-control-label">Active</label>
            </div>
        </div>

      </div>
    </div>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ApiTenantUsers, ApiBuilders, ApiUploadTenantUserThumb } from "../../config"; 
import apiBinaryPost from "../../helpers/apiBinaryPost";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';
import UploadImage from "../../components/Partials/UploadImage";
import VTooltip from 'v-tooltip'
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import VeeValidate from 'vee-validate';


export const LIST_STATUS = [
  { name : "Pending", value: 'pending' },
  { name : "Active", value: 'active' },
  { name : "Archive", value: 'archive' },
  { name : "Draft", value: 'draft' }
]

Vue.use(VTooltip)
Vue.use(VeeValidate)

export default {
  components: {
    Status,
    UploadImage
  },
  mounted() {

  },
  data() {
    return {
      form : {
      },
      list_status : LIST_STATUS,
      isEdit : false,
      image: null,
      builders: []
    };
  },


  created() {
    this.$emit('showLoading', false);
    let tenantUser_id = get(this.$route, "params.id", 0);
    if(tenantUser_id && tenantUser_id != 0){
      this.isEdit = true;
    }
    if(this.isEdit){
      this.getData(tenantUser_id);
    }
  },
  methods: {
    getData(id){
        this.$emit('showLoading', true)
        let url = `${ApiTenantUsers}/${id}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.form = get(res.data, "data", []);         
        })
        .catch(error => {
          console.error(error);
        });
    },
    
   
    
    reload() {
       this.getData();
    },

    handleCancel() {
        this.$router.push({ name: 'TenantUser'});
    },

    handleSave() {

      this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.isEdit){
              this.saveEdit();
            }else{
              this.saveCreate();
            }
          }
        });

        
    },

    childFromParent(arg){
        this.image = arg;
    },

    saveEdit(){
          let url = `${ApiTenantUsers}/${this.form.auth_id}`; 
          
          apiCall('put', url, this.form).then(res => {  
  
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadTenantUserThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.form.auth_id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            toast.success('Success');
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  toast.success('Success');
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    saveCreate(){
          let url = `${ApiTenantUsers}`; 
          apiCall('post', url, this.form).then(res => {  
              let tenantUser = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadTenantUserThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', tenantUser.auth_id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                        this.reloadSuccess(tenantUser);
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });
                }else{
                  this.reloadSuccess(tenantUser);
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
    },

    reloadSuccess(tenantUser){
        toast.success('Success');
        this.isEdit = true;
        this.$router.push({ name: 'TenantUserDetail', params: { id: tenantUser.auth_id }});
        this.getData(tenantUser.auth_id);
    }


  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.detail{
      background-color:#fff;
    }

    
  }
 
</style>