<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>CMS Accounts Management</h2>
      <button class="btn btn-fprimary" @click="handleAdd()">
          <i class="fa fa-plus"></i> New User
        </button>
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-server-table  ref="table"
        :columns="['id', 'name','email', 'roles', 'active', 'action']"
        :options="options" class="cms-table cms-table-ticket">
        
        <template slot="id" slot-scope="props" class="col-status text-center max-width-100" >
          <span class="badge-cms width-50">
             <b>{{ props.index}}</b>
          </span>
        </template>
        <template slot="active" slot-scope="props" class="col-status text-center max-width-100" >
          <span class="badge-cms max-width-100">
             <b>{{ props.row.active }}</b>
          </span>
        </template>

        <template slot="roles" slot-scope="props" class="col-status text-center max-width-100" >
          <span class="badge-cms max-width-100">
             <span v-for="(role, i) in props.row.roles" class="user-role" :key="i">{{ role.title }}</span>
          </span>
        </template>
        
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="editChangePassword(props.row)"
            v-tooltip.bottom="{
              content: 'Change Password',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-key"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Account',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Account',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
              <i class="far fa-trash-alt"></i>
            </button> -->
          </div>
        </template>
      </v-server-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :user="editingUser"
      :roles="roles"
    />

    <ChangePassword 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalPasswordState"
      :user="editingUser"
      :roles="roles"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { 
  ApiTenantUsers, 
  //ApiRoles
} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import Modal from './Modal/AddEdit.vue';
import ChangePassword from './Modal/ChangePassword.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

Vue.use(VTooltip)
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Modal,
    ChangePassword,
    Status
  },
  mounted() {

  },
  data() {
    return {
      roles: [],
      users: [],
      //currentPage: 0,
      //limit: 20000,
      options: {
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiTenantUsers}?${queryString}`;
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) {    
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "id" : "#",
           "name" : "Name"
        },
        sortable : ['name'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          imageUrl: "width-150",
          action: "width-150"
        },
      },
      
      isDeleting: false,
      openModalState: false,
      openModalPasswordState: false,
      editingUser: null
    };
  },
  created() {
    //this.initRoles();
    this.getData();
  },
  methods: {
    initRoles(){
      let url = `${ApiRoles}`;   
      apiCall("get", url).then(res => {
         
          this.roles = res.data.data.list || [];
        })
      .catch(error => {
          console.error(error);
      });
    },
    getData(){
        this.$emit('showLoading', true)
        //let url = `${ApiUsers}?page=${this.currentPage + 1}&per_page=${this.limit}`;
        let url = `${ApiTenantUsers}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.users =  get(res.data, "data.list", []);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    showModal() {
        this.openModalState = true;
    },

    handleAdd(){
      this.$router.push({ name: 'TenantUserDetail', params: { id: 0 }});
    },
    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "User " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiCMSUsers + '/' + row.auth_id)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
       this.getData();
    },

    // edit(row) {
    //     this.editingUser = row;
    //     this.openModalState = true;
    // },

    edit(row) {
         this.$router.push({ name: 'TenantUserDetail', params: { id: row.auth_id }});
    },

    editChangePassword(row) {
        this.editingUser = row;
        this.openModalPasswordState = true;
    },

    closeModal() {
 
        this.openModalState = false;
        this.openModalPasswordState = false;
        this.editingUser = null;
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        this.editingUser = null;
        if(value){
          toast.success('Success');
          this.reload();
        }
    },
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
    .user-role{
      padding: 2px 6px;
      margin-right:4px;
      color: white;
      background: #00BFFF;
      font-weight: bold;
      border-radius: 10px;
    }
  }
 
</style>