

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="texture">Edit texture {{texture.name}}</span>
            <span v-else>Create Texture</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.url" v-on:getImage="childFromParent"/>
              </div>  

              <div class="form-group">
                <label for="name">Name </label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" 
                />
              </div>

              <div class="form-group">
                <label for="name">Description </label>
                <input
                  type="text"
                  v-model="formData.description"
                  class="form-control"
                  id="description" name="description"
                  placeholder="Description" 
                />
              </div>

              
              <div class="form-group">
                <label for="group">Texture Group</label>
                <select id="group" name="group" class="form-control" v-model="formData.group_id">
                    <option></option>
                    <option v-for="(item, index) in groups" :value="item._id" :key="index">
                      <span v-for="n in new Array(item.level)" :key="n">_____ </span>  {{ item.name}}
                    </option>
                </select>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiTextures, ApiUploadTextureThumb } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['texture', 'groups'],
     components: {
      UploadImage
    },
    data() {
      return {
        formData : {
          
        },
        image:null,
        imageUrl: null,

        updatedTexture: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initTexture();
      },

      initTexture(){
        let texture = this.texture;
        this.formData = Object.assign(this.formData, texture);

        console.log(this.formData);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.texture)
          if(valid){
            if(this.texture){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiTextures}/${this.texture._id}`; 
          
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedTexture = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadTextureThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('id', this.formData._id);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiTextures}`; 
          
          // apiCall('post', url, this.formData).then(res => {  
          //     this.updatedTexture = res.data.data || null;

              
          //    } ).catch(err => {            
          //     console.log('err',err);
          //   }) ;
          if(this.image){
                  let formImage = new FormData();
                  //let urlUploadThumb = `${ApiUploadTextureThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('name', this.formData.name);
                  formImage.append('description', this.formData.description);
                  formImage.append('group_id', this.formData.group_id);
                  //formImage.append('id', this.formData._id);
                  apiBinaryPost(url, formImage).then(upres => { 
                      this.updatedTexture = upres.data;
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
          }else{
                  this.close(); 
          }  

      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedTexture){
          this.$emit('childToParent', this.updatedTexture);
        }
      },

      childFromParent(arg){
        this.image = arg;
      },


    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>