<template>
  <ContentWrapper class="layouts-wp">
    <div class="content-heading justify-content-between">
      <h2>Layouts Management</h2>
      <div class="button">
        <button class="btn btn-fprimary btn-add" @click="syncLayoutFromEcom">
            <i class="fa fa-sync"></i> 
        </button>
        &nbsp;
        <button class="btn btn-fprimary btn-add" @click="openModalState = true">
          <i class="fa fa-plus"></i> 
        </button>
      </div>
    </div>
    <div class="content-body pl-0 pr-0" >
      <!-- <div class="nav-item search float-left">
        <input v-model="options.params.name" class="width-250 form-control float-left" v-on:keyup.enter="search" >
        <button v-on:click="search" class="btn float-left">
          <i class="fa fa-search"></i> 
        </button>
      </div> -->
      <div class="form-group float-left">
          <select id="group" name="group" class="form-control"  @change="onSelectBedroom($event)">
                      <option value="">Number of Bedroom</option>
                      <option value="1">1 bedroom</option>
                      <option value="2">2 bedrooms</option>
                      <option value="3">3 bedrooms</option>
          </select>
      </div>

      <v-server-table  ref="table"
       
        :columns="columns"
        :options="options"  class="cms-table"
        >
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75 width-percent-100" v-bind:src="props.row.imageUrl"/>
        </template>

        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>More Info</h3>
                      <p class="mt-1">
                        <span>Old Asset Bundle:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.assetBundle" download v-bind:href="props.row.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.assetBundle">{{props.row.revision}}</span>
                      </p>
                      <p>
                        <span>Asset Bundle v2018:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2018.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2018.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2018.assetBundleUrl">{{props.row.versionAssetBundle.v2018.revision}}</span>
                      </p>

                      <p>
                        <span>Asset Bundle v2019:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2019.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2019.assetBundleUrl">Click to download</a>
                          </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2019.assetBundleUrl">{{props.row.versionAssetBundle.v2019.revision}}</span>
                      </p>

                      <p>
                        <span>Asset Bundle v2020:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2020.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2020.assetBundleUrl">Click to download</a>
                        </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span v-if="props.row.versionAssetBundle.v2020.assetBundleUrl">{{props.row.versionAssetBundle.v2020.revision}}</span>
                      </p>
              </div>
               <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>Data Json</h3>
                      <p>
                        <vue-json-pretty
                        :data="props.row.dataJson"
                        :deep="1"
                        >
                        </vue-json-pretty>
                    </p>
              </div> 
            </div> 
          </div>
        </template>
<!-- 
        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>Data Json</h3>
                      <p>
                         <vue-json-pretty
                        :data="props.row.dataJson"
                        :deep="1"
                        >
                        </vue-json-pretty> 
                    </p>
              </div>
            </div> 
          </div>
        </template> 
        -->

        <template slot="displayName" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms badge">
            {{ props.row.displayName }}
          </span>
        </template>

        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            {{ props.row.name }}
          </span>
        </template>

        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <Status :value="props.row.status"/>
          </span>
        </template>

        <template slot="owner" slot-scope="props" class="col-status text-center" >
          <span v-if="props.row.owner" class="badge-cms">
            {{ props.row.owner.email }}
          </span>
        </template>

        <template slot="price" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            {{number_format(props.row.metadata.price.estimated)}}
          </span>
        </template>

        <template slot="AssetBundle" slot-scope="props" class="col-status text-center" >
          <span v-if="props.row.assetBundleUrl" class="badge-cms">
            <a download v-bind:href="props.row.assetBundleUrl">Download</a>
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Layout',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Layout',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <button v-if="props.row.hasCart" class="btn btn-xs mr-1" @click.prevent="download(props.row)"
             v-tooltip.bottom="{
              content: 'Download List Items',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-download"></i>
            </button>
    
          </div>
        </template>

      </v-server-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :layout="editingLayout"
      :projects="projects"
      :styles="styles"
      :roomCategories="roomCategories"
    />

  </ContentWrapper>
</template>

<script>
import Vue from "vue";
import { ClientTable, ServerTable } from "vue-tables-2";

import { ApiLayouts, ApiProjects, ApiStyles, ApiRoomCategories, ApiSyncLayoutFromEcom } from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';


import VTooltip from 'v-tooltip';
import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

import { mapGetters, mapActions, mapState } from "vuex";

import VueJsonPretty from 'vue-json-pretty'


Vue.use(VTooltip);
//Vue.use(ClientTable);
Vue.use(ServerTable);

export default {
  components: {
   // ClientTable,,
    ServerTable,
    VueJsonPretty,
    Modal,
    Status
  },
  mounted() {

  },
  data() {
    return {
      projects : [],
      styles : [],
      roomCategories: [],
      columns: [
        'imageUrl',
        'displayName' ,
        'name',
        'project',
        'owner', 
        'price',
       // 'AssetBundle', 
        'status',
        'action'
      ],

      options: {
        
        requestFunction: (function (params) {
          
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiLayouts}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null,
          room : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "imageUrl" : "Thumb",
           "name" : "Key name",
           "displayName" : "Display Name",
          
        },
        sortable : ['displayName'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          displayName : "max-width-250 text-white-space",
          imageUrl: "width-100",
          action: "width-150"
        },
        
      },

      isDeleting: false,
      openModalState: false,
      editingLayout: null
    };
  },
  created() {
    this.$emit('showLoading', false);
    this.initProjects();
    
    this.initStyles();
    this.initRoomCategories();
  //  this.getData();
  },
  methods: {
    onReload(){
      this.$refs.table.refresh();
    },
    initProjects() {
      let url = `${ApiProjects}`;
      apiCall("get", url)
        .then(res => {
          this.projects = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    initStyles() {
      let url = `${ApiStyles}`;
      apiCall("get", url)
        .then(res => {
          this.styles = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    initRoomCategories() {
      let url = `${ApiRoomCategories}`;
      apiCall("get", url)
        .then(res => {
          this.roomCategories = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },
    // getData(){
    //     this.$emit('showLoading', true)
    //     let url = `${ApiLayouts}?without_json=1`;
    //     url = this.buildUrl(url);
    //     apiCall("get", url).then(res => {
    //       this.$emit("showLoading", false);
    //       this.layouts =  get(res.data, "data.list", []);
    //       this.layouts = this.layouts.map((item, index) => {
    //             item["id"] = index;
    //             return item;
    //         });
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },
  

    remove(row) {
    
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Layout " + row.displayName + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiLayouts + '/' + row.name)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
       
      });
    },

    reload() {
      this.onReload();
    },
    // search(){
    //   this.getData();
    // },

    edit(row) {
      this.editingLayout = row;
      this.openModalState = true;
    },

    download(row) {
      let url = ApiLayouts + '/' + row.name + "/export/list-items";
      window.open(url)
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingLayout = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingLayout = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    },

    onSelectBedroom(event){
      let value = event.target.value;
      this.options.params.room = value;
      this.onReload();
      
    },

    // buildUrl(url){
    //   let params = this.params;
    //   var queryString = Object.keys(params).map(function(key) {
    //       if(params[key]){
    //         return key + '=' + params[key]
    //       }
          
    //   }).join('&');
     
    //   return url + '&' + queryString;
    // },

    syncLayoutFromEcom(){
      let urlSync = `${ApiSyncLayoutFromEcom}`;
      swal({
        title: "Are you sure?",
        text: "Do you want to sync layout data from Fitin.vn ?",
        icon: "warning",
        buttons: true,
        dangerMode: false,
        customClass: 'notifySwal',
      }).then(ok => {
        if (ok) {
          this.$emit('showLoading', true);
          apiCall('post', urlSync)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              
              this.$emit('showLoading', false);
              this.reload();
              
            })
            .catch(error => {
              this.$emit('showLoading', false);
              console.error(error);
            });
        } 
       
      });
    },


    number_format(number, decimals, dec_point, thousands_sep) {
        var n = number, prec = decimals;

        var toFixedFix = function (n,prec) {
            var k = Math.pow(10,prec);
            return (Math.round(n*k)/k).toString();
        };

        n = !isFinite(+n) ? 0 : +n;
        prec = !isFinite(+prec) ? 0 : Math.abs(prec);
        var sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep;
        var dec = (typeof dec_point === 'undefined') ? '.' : dec_point;

        var s = (prec > 0) ? toFixedFix(n, prec) : toFixedFix(Math.round(n), prec); 
        //fix for IE parseFloat(0.55).toFixed(0) = 0;

        var abs = toFixedFix(Math.abs(n), prec);
        var _, i;

        if (abs >= 1000) {
            _ = abs.split(/\D/);
            i = _[0].length % 3 || 3;

            _[0] = s.slice(0,i + (n < 0)) +
                  _[0].slice(i).replace(/(\d{3})/g, sep+'$1');
            s = _.join(dec);
        } else {
            s = s.replace('.', dec);
        }

        var decPos = s.indexOf(dec);
        if (prec >= 1 && decPos !== -1 && (s.length-decPos-1) < prec) {
            s += new Array(prec-(s.length-decPos-1)).join(0)+'0';
        }
        else if (prec >= 1 && decPos === -1) {
            s += dec+new Array(prec).join(0)+'0';
        }
        return s; 
    }
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.layouts-wp{
      background-color:#fff;
    }
  }
  .title-cs{
    line-height:16px;
  }
  .vjs-tree {
    font-size:13px;
  }

  .text-white-space span {
    white-space: normal;
    text-align: left;
    line-height: initial;
  }
 
</style>