
<template>
  <div class="block-center mt-4">
    <!-- START card-->
    <div class="card card-flat login-wp">
      <div class="card-header text-center">
        <a href="#">
          <b-img-lazy src="img/logo-black.png" alt="Logo" fluid center></b-img-lazy>
        </a>
      </div>
      <div class="card-body">
        <!-- <h3 class="text-center py-2">SIGN IN</h3> -->
        <div class="alert alert-danger" v-if="error !== ''">
          <strong>Error!</strong>
          {{error}}
        </div>
        <form class="form-login mb-3 mt-3" @submit.prevent="validateBeforeSubmit('login')" data-vv-scope="login">
          <div class="form-group">
            <div class="input-group with-focus">
              <input
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('login.email')}"
                placeholder="Enter email"
                v-model="login.email"
                v-validate="'required|email'"
                type="text"
                name="email"
              >
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-envelope"></em>
                </span>
              </div>
              <span
                v-show="errors.has('login.email')"
                class="invalid-feedback"
              >{{ errors.first('login.email') }}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group with-focus">
              <input
                :class="{'form-control  border-right-0':true, 'is-invalid': errors.has('login.password')}"
                v-model="login.password"
                v-validate="'required'"
                type="password"
                name="password"
                placeholder="Password"
              >
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-lock"></em>
                </span>
              </div>
              <span
                v-show="errors.has('login.password')"
                class="invalid-feedback"
              >{{ errors.first('login.password') }}</span>
            </div>
          </div>
          <div class="clearfix">
            <div class="float-left">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="rememberme"
                  id="rememberme"
                  v-model="login.rememberme"
                >
                <label class="custom-control-label" for="rememberme">Remember Me</label>
              </div>
            </div>
          </div>
          <button
            class="btn btn-fprimary mt-3"
            type="submit"
            :disabled="loading"
          >{{loading ? 'Loading...' : 'Login'}}</button>
        </form>
      </div>
    </div>
    <!-- END card-->
  </div>
</template>
<script>
import Vue from "vue";
import VeeValidate from "vee-validate";
import { mapGetters, mapActions } from "vuex";
import { URLHome } from "../../config";
import swal from "sweetalert";
Vue.use(VeeValidate, {
  fieldsBagName: "formFields" // fix issue with b-table
});

export default {
  name: "Login",
  mounted() {
    console.log('$store',this.$store);
    if (this.isLogin) {
      this.$router.push(URLHome);
    }
  },
  data() {
    return {
      loading: false,
      error: "",
      login: {
        email: "",
        password: "",
        rememberme: false
      }
    };
  },
  computed: mapGetters(["isLogin"]),
  methods: {
    ...mapActions(["actionLogin"]),
    validateBeforeSubmit(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.$emit('showLoading', true)
          this.actionLogin(this.login).then(data => {
           
            this.$emit('showLoading', false)
              if (data) {
                setTimeout(() => {
                  this.$router.push(URLHome);
                }, 500);
              }
            })
            .catch(error => {
              console.log(error)
              this.error = error;
            });
          return;
        }
        
      });
    }
  }
};
</script>

<style scoped lang="scss">
.login-wp {
  position:absolute;
  top:20%;
  left:0;
  right:0;
  max-width:400px;
  margin:auto;
  box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.38);
  border-radius: 4px;
  form .btn {
    text-align: center;
    display: block;
    margin: auto;
  }
  .card-header {
    max-width: 150px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 0;
  }
  .form-login .input-group > .input-group-append:not(:last-child) > .input-group-text{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
</style>
